<div class="panel panel-default">
<div class="panel-heading"><h1>Import Bundle</h1></div>

<%= bootstrap_form_tag url: admin_bundles_path, html: {id: "add_bundle_form"} do |f| %>
  <div class="panel-body">
    <%= f.file_field :file, label: 'Bundle', accept: 'application/zip' %>
  </div>

  <div class="panel-footer">
    <%= f.submit 'Import Bundle', :class => "btn btn-success", :id => "submit_button", data: { disable_with: "Please wait..." } %>
    <%= submit_tag "Cancel", :class => "btn btn-default", :type => "button", :onclick => "history.back()" %>
  </div>
<% end %>

</div>
