<div class="cql-statement"><div class="cql-statement-name {{{statment_result}}}">{{{statement_name}}}</div>{{#clauses}}{{#colored}}{{#is_true}}<span id="{{{statement_name}}}_{{{local_id}}}" class="clause-true">{{description}}</span>{{/is_true}}{{^is_true}}<span id="{{{statement_name}}}_{{{local_id}}}" class="clause-false">{{description}}</span>{{/is_true}}{{/colored}}{{^colored}}<span id="{{{statement_name}}}_{{{local_id}}}">{{description}}</span>{{/colored}}{{/clauses}}</div>