<!DOCTYPE html>
<html>
<head>
        <script type="text/javascript">
         $("document").ready(function() {
            var measureTeamplate = $("#MustacheTemplate").html();

        </script>
</head>
    <body>
        <script type="text/HanldeBarTemplate" id="measureTemplate"></script>
            <div class="measureDataWrapper">
                <table>
                {{#highlight}}
                    {{#isClauseStart}}
                        <tr><td>
                    {{/isClauseStart}}                    
                    {{#colored}}                
                        {{#isTrue}} 
                            <span style="background-color:green"> 
                        {{/isTrue}}
                        {{^isTrue}} 
                            <span style="background-color:red"> 
                        {{/isTrue}}
                    {{/colored}}  
                    {{^colored}}  
                        <span style> 
                    {{/colored}}  
                    {{description}} 
                    </span>
                    {{#isClauseEnd}}
                        </tr></td>
                    {{/isClauseEnd}}  
                {{/highlight}}
            </table>
            </div>
        </script>
        <div id="container"></div>
    </body>
</html>
