<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class='panel-title'>Resend confirmation instructions</h1>
  </div>

<%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

  <div class="panel-body">
    <%= f.email_field :email, autocapitalize: 'off', autocorrect: 'off', autofocus: true,
      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="panel-footer">
    <%= f.primary "Resend confirmation instructions" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
