<div id="download_dialog">
  <%= link_to 'download now', download_product_test_path(@test), :class => 'cmd', :onclick => "$('#polling_for_updates').dialog('close')" %>
  <%= link_to 'download later', "#", :class => 'cmd', :onclick => "$('#polling_for_updates').dialog('close')" %>
</div>