  <% if pqri_errors %>
  <tr>               
    <td class="expander toggle" data-code="<%=data_code%>"></td>
    <td><h2><%= title %></h2></td>
 </tr>
 <tr class="sub_rows pqri_results">
   <td colspan="2">
   
      <%pqri_errors.each do |error| %>
        <div class ="pqriXmlError"><%= error %></div>        
      <% end %>

   </td>
</tr>
<% end %>