<% content_for :head do %>
  <style type="text/css">
    /* formwizard and validation */
    .navigation_button {
      width : 0px;
    }
    .highlight {background:#DEFADE;}

    .xstep label {display: inline-block;}

    td {vertical-align: top;}
    p {padding:5px;}
    #navigation {
      padding-top: .2em;
      text-align:right;
      width:100%;
    }
    textarea {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 4px;
      border: 1px solid #AAAAAA;
    }
    #navigation input.noborder {
      border: 0;
      color:green;
      background:transparent;
      display:inline;
    }
    /* need to override the CSS rule for spans that occur within forms
       which is set to block (?!)
    */
    #navigation span.status {
      display:inline;
  }
    .left {float: left;clear:left;}
    .right {float: right;clear:right;}

    input[type=radio] {display:inline-block;}
    dd.wide, span.wide {
      width: 45em;
    }
    #first dl { width : 800px; }
  </style>
<% end %>

<%= simple_form_for([@test], :html => { :method => submit_method, :multipart => true }) do |f| %>
  <%= f.hidden_field :product_id, :value => @product.id %>
  <div id="navigation">
    <a class="cmd" id="back"><input class="noborder" value="Back" type="reset" /></a>
    <span class="status">Step <b id="currentStep">1</b> of 2</span>
    <a class="cmd" id="next"><input class="noborder" value="Next" type="submit" /></a>
  </div>
  
  <div id="validationErrorMessages"></div>
  
  <%= render :partial => "product_tests/wizard_screens/home", :locals => {:f => f} %>

  <%= render :partial => "product_tests/wizard_screens/measures", :locals => {:f => f} %>
  <%# render :partial => "product_tests/wizard_screens/workflow", :locals => {:f => f} %>
  <%# render :partial => "product_tests/wizard_screens/patients", :locals => {:f => f} %>

<% end %>