npm-debug.log
lantana
.bundle
Gemfile.lock
bundles
db/
log/*.log
tmp/
config/ccr.xsd
config/deploy.rb
coverage/
coverage.*
*.rdb
*.DS_Store
nbproject/
.sass-cache/
nohup.*
public/current_mpl_results.txt
coverage

resources/schematron/qrda/qrda_cat_1/generic-schematron/*.xml
oid_errors.txt
.DS_Store
Thumbs.db
!resources/schematron/qrda/qrda_cat_1/generic-schematron/voc.xml
!db/migrate/*

### Packer ###
# Cache objects
contrib/packer_cache/

# For built boxes
contrib/output*
contrib/*.tgz
