lantana
.bundle
bundles
db/
log/*.log
tmp/
config/ccr.xsd
config/deploy.rb
coverage/
coverage.*
*.rdb
*.DS_Store
nbproject/
.sass-cache/
nohup.*
public/current_mpl_results.txt

resources/schematron/qrda/qrda_cat_1/generic-schematron/*.xml
oid_errors.txt
.DS_Store
Thumbs.db
!resources/schematron/qrda/qrda_cat_1/generic-schematron/2.16.840.1.113883.3.88.12.3221.6.2.xml
!resources/schematron/qrda/qrda_cat_1/generic-schematron/2.16.840.1.113883.11.20.9.23.xml
!resources/schematron/qrda/qrda_cat_1/generic-schematron/2.16.840.1.113883.11.20.9.25.xml
!resources/schematron/qrda/qrda_cat_1/generic-schematron/2.16.840.1.113883.11.20.9.18.xml
!resources/schematron/qrda/qrda_cat_1/generic-schematron/2.16.840.1.113883.11.20.9.39.xml
!resources/schematron/qrda/qrda_cat_1/generic-schematron/2.16.840.1.113883.3.88.12.3221.7.2.xml
!resources/schematron/qrda/qrda_cat_1/generic-schematron/2.16.840.1.113883.11.20.9.24.xml
!resources/schematron/qrda/qrda_cat_1/generic-schematron/2.16.840.1.113883.1.11.16926.xml
!resources/schematron/qrda/qrda_cat_1/generic-schematron/2.16.840.1.113883.1.11.1.xml
!resources/schematron/qrda/qrda_cat_1/generic-schematron/2.16.840.1.113883.1.11.20.275.xml
!db/migrate/*