version: "3"

services:
  cypress:
    build:
      context: .
    volumes:
      - cypress-tmp:/home/app/cypress/public/data
    environment:
      - MONGO_PORT_27017_TCP_ADDR=mongodb
      - MONGO_PORT_27017_TCP_PORT=27017
      - CQM_EXECUTION_HOST=cqm-execution-service
    ports:
      - "3000:3000"
    env_file: .env-prod
    restart: unless-stopped
    networks:
      - cypress-net
  mongodb:
    image: mongo:latest
    volumes:
      - /data/db
      - ./mongo:/etc/mongo
    command: --config=/etc/mongo/docker_mongod.conf
    restart: unless-stopped
    networks:
      - cypress-net
    ports:
      - "27017:27017"
  cqm-execution-service:
    image: docker/cqm-execution-service:latest
    networks:
      - cypress-net
    ports:
      - "8081:8081"

networks:
  cypress-net:

volumes:
  cypress-tmp:
    driver_opts:
      type: tmpfs
      device: tmpfs
