@use 'variables' as *;
@use "../../../stylesheets/assets_framework/custom-mixins" as *;

.alert {
    position: relative;
    &.alert-warning {
        background: $warning-bg-subtle;
        border: 1px solid $warning-border-subtle;
        color: $warning-text-emphasis;
    }
    &.alert-info {
        background: $info-bg-subtle;
        border: 1px solid $info-border-subtle;
        color: $info-text-emphasis;
        .close, .example, .example2 {
            &:focus {
                outline: 2px solid $gray-500;
            }
        }
    }
    &.alert-success {
        background: $success-bg-subtle;
        border: 1px solid $success-border-subtle;
        color: $success-text-emphasis;
    }
    &.alert-danger {
        background: $danger-bg-subtle;
        border: 1px solid $danger-border-subtle;
        color: $danger-text-emphasis;
    }
    .example, .example2 {
        background: none;
        border: 0 none;
        color: $gray-500;
        @include font-size-REM(24);
        padding: 0;
        position: absolute;
        right: 3%;
        top: 10px;
        &:focus {
            outline: 2px solid $white;
        }
        &.white {
            color: $white;
        }
        &.close {
            opacity: 1;
            filter: alpha(opacity = 100);
            &:hover, &:focus {
                opacity: 1;
                filter: alpha(opacity = 100);
            }
        }
    }
    .iconSpan {
        border-right: 1px solid $gray-400;
        display: table-cell;
        padding: 15px 20px;
        vertical-align: middle;
    }
    .alertContent {
        display: table-cell;
        p {
            padding: 0 10px;
        }
    }
    .alertHeading, .alertHeading2 {
        strong {
            font: normal 100% 'OpenSansBolder';
        }
    }
}