select {
    width: 100%;
    padding: 7px 6px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

input {
    &[disabled] {
        cursor: not allowed !important;
        background-color: #e0e0e0 !important;
    }
    &[type="text"], &[type="password"], &[type="email"] {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    &[readonly] {
        background: #fff;
        border: 0;
        box-shadow: none;
        padding: 0;
        cursor: not-allowed;
    }
}

select,textarea,input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=color],.uneditable-input {
    border-radius: 2px;
    color: #000;
    display: inline-block;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 8px 6px;
    vertical-align: middle;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    /* custom*/
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    /* custom*/
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    /* custom*/
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}