/*Button Styles */

/*icon button*/
 .link_button {
	background: none repeat scroll 0 0 transparent;
	border: none;
	font-size: 1em;
	line-height: 1.5em;
	color: #029DD3;
}
.app_button, .mainButton {
	font-weight: 600;
	font-size:1.25em;
	color: #ffffff;
	padding: 6px 20px;
	min-width:8em;
	background-color: #2d8611;
	background-image: -moz-linear-gradient(top, #2d8611, #216c0a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d8611), to(#216c0a));
	background-image: -webkit-linear-gradient(top, #2d8611, #216c0a);
	background-image: -o-linear-gradient(top, #2d8611, #216c0a);
	background-image: linear-gradient(to bottom, #2d8611, #216c0a);
	background-repeat: repeat-x;
	border-width: 0;
	box-shadow: 0 1px 2px rgba(51, 51, 51, 0.6);
	text-shadow: 1px 1px 2px rgba(000, 000, 000, 0.3);
}

.ui-helper-highcontrast .app_button, .ui-helper-highcontrast .mainButton {
	border-width: 1px;
}

.app_button:hover, .app_button:focus {
	color: #ffffff;
	background:#2d8611;
	outline-offset: 2px;
}

.ui-helper-highcontrast .app_button:focus
{
	outline: 3px solid #fff;
}
.mainButton, .priorCardButton {
	border-radius: 0 0 5px 5px;
	float: right;
	margin-right: 30px;
	text-align: center;
}
.app_button_gray {
	font-size: 1em;
	font-weight:600;
	color: #2c8611;
	line-height:1.5em;
	padding: 6px 20px 6px 10px;
	background: -webkit-linear-gradient(top, #ffffff 0%, #e7e7e7 50%, #b1b1b1);
	background: -moz-linear-gradient(top, #ffffff 0%, #e7e7e7 50%, #b1b1b1);
	background: -o-linear-gradient(top, #ffffff 0%, #e7e7e7 50%, #b1b1b1);
	background: -ms-linear-gradient(top, #ffffff 0%, #e7e7e7 50%, #b1b1b1);
	background: linear-gradient(top, #ffffff 0%, #e7e7e7 50%, #b1b1b1);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.50, #e7e7e7), to(#b1b1b1));
	border-radius: 5px;
	border:1px solid #e7e7e7;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}
.app_button_gray:hover, .app_button_gray:focus {
	background: -webkit-linear-gradient(top, #ffffff 0%, #e7e7e7 40%, #60be41);
	background: -moz-linear-gradient(top, #ffffff 0%, #e7e7e7 40%, #60be41);
	background: -o-linear-gradient(top, #ffffff 0%, #e7e7e7 40%, #60be41);
	background: -ms-linear-gradient(top, #ffffff 0%, #e7e7e7 40%, #60be41);
	background: linear-gradient(top, #ffffff 0%, #e7e7e7 40%, #60be41);
}
.secondary_button {
	border: none;
	border-radius: 5px 5px 5px 5px;
	font-size: 0.75em;
	font-weight: 700;
	line-height: 1.5em;
	padding: 2px 10px;
	text-transform: uppercase;
	background-color: #2964B4;
	color: #FFFFFF;
}
.secondary_button:hover, .secondary_button:focus {
	background: #2964B4;
	text-decoration: underline;
}
