/* modal dialog and multi part forms styles */

.modalStep.errorBox, .modalStep.infoBox { border-radius:0px; }
/* font sizes are used as pixel because the icons are eye candy */
.modalStep .icon-circle_exclamation_mark {
	color: #d44116;
	float: left;
	display: table-cell;
	padding: 5px 0;
	font-size: 16px;
}
.modalStep {
	height: 364px;
	overflow: hidden;
	display: none;
	visibility: hidden;
}
.modalStep .fixedBottom {
	bottom: 100px;
	position: absolute;
}
/* added this class in manually to fix the embedded modal window size */

.activeModalStep { 
	display: block; 
	visibility: visible;
}
.modalStep fieldset { margin-top: 10px; }
.modal-back, .modal-accept { display: none; }
.modalStep {
	overflow-y: auto;
	padding: 0 30px;
	min-height: 365px;
}
.modalStep-custom { height: auto; }
/*Modal Colors based on the dialog type*/
.errorDialog .ui-dialog-titlebar {
	background-color:#F9F3A9;
	margin: 10px 10px 0 10px;
}
.errorDialog .modalSteps {
	background-color:#F9F3A9;
	margin: 0 10px 10px 10px;
}
.errorDialog .modalStep {
	min-height: 345px;
	height:auto;
}
.fileupload-buttonbar { background: #E2F5FC; }
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle { margin: 25px 0; }
.email-confirmation-text { font-weight: 600; }
.ui-dialog-buttonpane > p { margin-top: 25px; }
.modalStep {
	overflow-y: auto;
	padding: 0 30px;
	min-height: 365px;
}
.modalStep-custom { height: auto; }
