/************************ CUSTOM TOOLTIP CLASSES ************************/

.ui-tooltip, .ui-tooltip-arrow:after {
    background-color: #cfeffc;
    border: 1px solid #a5d2e4;
    box-shadow: none;
}

.ui-tooltip {
    background-color: #fff;
}

body .ui-tooltip-b, .ui-tooltip-b .ui-tooltip-arrow:after {
    background-color: #fff;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ui-tooltip {
    padding: 10px 20px;
    color: #000;
    border-radius: 4px;
    font-size: 0.875em;
    line-height: 20px;
    font-weight: 600;
}

.ui-tooltip-b {
    font-weight: 400;
}

.ui-tooltip-b .name {
    font-weight: 600;
}

.ui-tooltip-arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

.ui-tooltip-arrow.ui-tooltip-top {
    top: -16px;
    bottom: auto;
}

.ui-tooltip-arrow.ui-tooltip-left {
    left: 20%;
}

.ui-tooltip-arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ui-tooltip-arrow.ui-tooltip-top:after {
    bottom: -20px;
    top: auto;
}

.ui-tooltip-arrow.ui-tooltip-middle {
    top: 50%;
    bottom: auto;
    margin-left: auto;
    margin-top: -35px;
    height: 70px;
    width: 16px;
}

.ui-tooltip-arrow.ui-tooltip-middle.ui-tooltip-left {
    left: -13px;
}

.ui-tooltip-arrow.ui-tooltip-middle.ui-tooltip-right {
    right: -13px;
    left: auto;
}

.ui-tooltip-arrow.ui-tooltip-middle:after {
    top: 20px;
    width: 25px;
    height: 25px;
}

.ui-tooltip-arrow.ui-tooltip-middle.ui-tooltip-left:after {
    left: auto;
    right: -16px;
}

.ui-tooltip-arrow.ui-tooltip-middle.ui-tooltip-right:after {
    left: -16px;
}

.toolTip {
    /*border-bottom: 1px dotted #046792;*/
}

.toolTip:hover {
    /*text-decoration: none;*/
}

/* Better focus indication for jQuery UI controls, modify later according to style guide */
body .ui-state-focus, body .app_button:focus {
    outline: 2px solid #029dd3;
    -moz-outline-radius: 5px;
}

/* Give better focus indicator for tabs feel free to modify according to styleguide */
.ui-tabs-nav .ui-state-focus {
    outline: 2px solid #029dd3;
}

/* High contrast support for jQuery dialog buttons */
.ui-helper-highcontrast .ui-dialog .ui-dialog-titlebar-close {
    width: auto;
}

.ui-helper-highcontrast .ui-dialog .ui-dialog-titlebar-close .ui-icon {
    width: auto;
    height: auto;
    background-image: none;
    text-indent: 0;
    border: 1px solid black;
}

.ui-dialog-titlebar .icon-circle_remove {
    color: #333;
    font-size: 1.5em;
    margin-right: 15px;
    margin-top: 15px;
}

.ui-dialog-titlebar .icon-circle_remove:hover {
    color: #666;
    text-decoration: none;
}