<div class="cql-logic">
<span class="cql-statement-group">Populations</span>
{{#population_statements}}
  {{> highlighting_clause}}
{{/population_statements}}
<span class="cql-statement-group">Definitions</span>
{{#statements}}
  {{> highlighting_clause}}
{{/statements}}
</div>
