//Padding
.space-up-five {
    padding-top: 5px;
}

.space-right-five {
    padding-right: 5px;
}

.space-down-five {
    padding-bottom: 5px;
}

.space-left-five {
    padding-left: 5px;
}

.space-up-ten {
    padding-top: 10px;
}

.space-right-ten {
    padding-right: 10px;
}

.space-down-ten {
    padding-bottom: 10px;
}

.space-left-ten {
    padding-left: 10px;
}

.space-up-fifteen {
    padding-top: 15px;
}

.space-right-fifteen {
    padding-right: 15px;
}

.space-down-fifteen {
    padding-bottom: 15px;
}

.space-left-fifteen {
    padding-left: 15px;
}

.space-up-twenty {
    padding-top: 20px;
}

.space-right-twenty {
    padding-right: 20px;
}

.space-down-twenty {
    padding-bottom: 20px;
}

.space-left-twenty {
    padding-left: 20px;
}

.space-up-twenty-five {
    padding-top: 25px;
}

.space-right-twenty-five {
    padding-right: 25px;
}

.space-down-twenty-five {
    padding-bottom: 25px;
}

.space-left-twenty-five {
    padding-left: 25px;
}

.space-up-thirty {
    padding-top: 30px;
}

.space-right-thirty {
    padding-right: 30px;
}

.space-down-thirty {
    padding-bottom: 30px;
}

.space-left-thirty {
    padding-left: 30px;
}

.space-up-thirty-five {
    padding-top: 35px;
}

.space-right-thirty-five {
    padding-right: 35px;
}

.space-down-thirty-five {
    padding-bottom: 35px;
}

.space-left-thirty-five {
    padding-left: 35px;
}

//Margin
.push-down-zero {
    margin-bottom: 0;
}

.push-up-five {
    margin-top: 5px;
}

.push-right-five {
    margin-right: 5px;
}

.push-down-five {
    margin-bottom: 5px;
}

.push-left-five {
    margin-left: 5px;
}

.push-up-ten {
    margin-top: 10px;
}

.push-right-ten {
    margin-right: 10px;
}

.push-down-ten {
    margin-bottom: 10px;
}

.push-left-ten {
    margin-left: 10px;
}

.push-up-fifteen {
    margin-top: 15px;
}

.push-right-fifteen {
    margin-right: 15px;
}

.push-down-fifteen {
    margin-bottom: 15px;
}

.push-left-fifteen {
    margin-left: 15px;
}

.push-up-twenty {
    margin-top: 20px;
}

.push-right-twenty {
    margin-right: 20px;
}

.push-down-twenty {
    margin-bottom: 20px;
}

.push-left-twenty {
    margin-left: 20px;
}

.push-up-twenty-five {
    margin-top: 25px;
}

.push-right-twenty-five {
    margin-right: 25px;
}

.push-down-twenty-five {
    margin-bottom: 25px;
}

.push-left-twenty-five {
    margin-left: 25px;
}

.push-up-thirty {
    margin-top: 30px;
}

.push-right-thirty {
    margin-right: 30px;
}

.push-down-thirty {
    margin-bottom: 30px;
}

.push-left-thirty {
    margin-left: 30px;
}

.push-up-thirty-five {
    margin-top: 35px;
}

.push-right-thirty-five {
    margin-right: 35px;
}

.push-down-thirty-five {
    margin-bottom: 35px;
}

.push-left-thirty-five {
    margin-left: 35px;
}

.push-up-forty {
    margin-top: 40px;
}

.push-right-forty {
    margin-right: 40px;
}

.push-down-forty {
    margin-bottom: 40px;
}

.push-left-forty {
    margin-left: 40px;
}

.push-up-fifty {
    margin-top: 50px;
}

.push-right-fifty {
    margin-right: 50px;
}

.push-down-fifty {
    margin-bottom: 50px;
}

.push-left-fifty {
    margin-left: 50px;
}