<div class="card card-default">
  <div class="card-heading">
    <h1 class='card-title'>Resend unlock instructions</h1>
  </div>

<%= bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

  <div class="card-body">
    <%= f.email_field :email, autocapitalize: 'off', autocorrect: 'off', autofocus: true %>
  </div>

  <div class="card-footer">
    <%= f.primary "Resend unlock instructions" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
