<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class='panel-title'>Resend unlock instructions</h1>
  </div>

<%= bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, 'data-parsley-validate': '' }) do |f| %>

  <div class="panel-body">
    <%= f.email_field :email, autocapitalize: 'off', autocorrect: 'off', autofocus: true,
      'data-parsley-required': '',
      'data-parsley-type':"email",
      'data-parsley-trigger': 'blur' %>
  </div>

  <div class="panel-footer">
    <%= f.primary "Resend unlock instructions" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
