<div id="container">
  <%= render :partial=>"shared/header" %>

  <div>
    <section class="tb">
      <%= link_to "Master Patient List", patients_path, { :class => "cmd" } %>
      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <span>feedback</span>
      </nav>
    </section>

    <section id="feedback">
      <div>
    	  <section class="free_text">
          <p>There are three email distribution lists which may also be used to request information about the project's plans and activities. These lists are:</p>
          <ul>
            <li>
              <a class="mailing_list" href="mailto:announcements@projectcypress.org">announcements@projectcypress.org</a> -
              Messages to this list are limited to the Cypress governing organizations. Anyone can subscribe.
            </li>
    			  <li>
    			    <a class="mailing_list" href="mailto:talk@projectcypress.org">talk@projectcypress.org</a> -
    			    Anyone is free to submit questions about the project to this list. To prevent spam, all messages are first reviewed by the project team before
    			    being forwarded to the distribution list. This list is also open to everyone.
    			  </li>
    			  <li>
    			    <a class="mailing_list" href="mailto:dev@projectcypress.org">dev@projectcypress.org</a> -
    			    This list is used exclusively for software development questions. Again, membership to this list is open to everyone. However, we encourage individuals to
    			    limit participation in this list to those that are active software engineers. Anyone is free to submit questions about the project to this list, but
    			    to prevent spam, all messages are first reviewed by the project team before being forwarded to the distribution list.
    			  </li>
    		  </ul>
    	  </section>
      </div>
    </section>
  </div>
</div><!-- end #container -->
