<div id="container">
  <%= render :partial=>"shared/header" %>

  <div class="buffered">
    <section class="tb">
      <%= link_to "Master Patient List", patients_path, { :class => "cmd" } %>
      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <span>help</span>
      </nav>
    </section>

    <section id="help" class="bordered buffered">
      <div>	
    	  <section class="free_text">
    		  <p>
    		    Please send questions regarding Cypress to <a class="mailing_list" href="mailto:talk@projectcypress.org">talk@projectcypress.org</a>.
    		    Here are other useful sources relevant to the project:
    		  </p>
    		  <ul>
    		    <li>For information about EHR certification: <a href="http://healthit.hhs.gov/portal/server.pt/community/healthit_hhs_gov__home/1204">Office of the National Coordinator </a></li>
            <li>For information about Stage 1 Meaningful Use Clinical Quality Measures: <a href="https://www.cms.gov/QualityMeasures/">Centers for Medicare and Medicaid Services </a></li>
            <li>For information about certified health IT products: <a href="http://onc-chpl.force.com/ehrcert">Certified Health IT Product List </a></li>
          </ul>
    	  </section>
      </div>
    </section>
  </div>
</div><!-- end #container -->
