html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }
body { line-height: 1.5; }
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
table, td, th { vertical-align: middle; }
blockquote:before { content: ""; }
blockquote:after { content: ""; }
q:before { content: ""; }
q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
body {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 0.9em;
  font-weight: 300;
}
a { color: #000000; }
.bordered {
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/stylesheets/PIE.htc);
}
header {
  position: relative;
  padding: 5px 20px;
  border-bottom: 1px solid #aaaaaa;
}
header h1 {
  background: transparent url(/images/cypress_logo.png) top left no-repeat;
  text-indent: -9999pt;
  width: 169px;
  height: 40px;
}
header nav {
  position: absolute;
  top: 17px;
  right: 20px;
}
header a {
  text-decoration: underline;
  margin-left: 10px;
}
#container {
  width: 1000px;
  margin: 20px auto 20px auto;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px #aaaaaa;
  -moz-box-shadow: 2px 2px 8px #aaaaaa;
  box-shadow: 2px 2px 8px #aaaaaa;
  behavior: url(/stylesheets/PIE.htc);
}
#container > div { padding: 10px 20px 20px 20px; }
#container > div.split { border-top: 1px solid #cccccc; }
a.cmd {
  padding: 3px 10px;
  text-decoration: none;
  background-color: #ebffce;
  background-color: #ffffff;
  border: 1px solid #539309;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #539309;
  cursor: pointer;
  font-size: 80%;
  behavior: url(/stylesheets/PIE.htc);
}
a.cmd:hover { background-color: #ebffce; }
section.tb a.cmd {
  float: right;
  margin-left: 15px;
}
nav.breadcrumb {
  font-size: 80%;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding-top: 4px;
}
nav.breadcrumb a {
  text-decoration: underline;
  margin: 0 5px;
}
nav.breadcrumb a:hover { text-decoration: underline; }
nav.breadcrumb a:first-child { margin-left: 0; }
nav.breadcrumb span { margin-left: 5px; }
section.candidate {
  padding: 10px;
  position: relative;
  vertical-align: top;
}
section.candidate dl {
  font-size: 90%;
  width: 310px;
  display: table-cell;
  vertical-align: top;
}
section.candidate dt {
  color: #666666;
  width: 75px;
  clear: both;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  vertical-align: top;
}
section.candidate dd {
  width: 225px;
  display: inline-block;
}
section.candidate dd address span { display: block; }
section.candidate dl.vendor dt {
  line-height: 150%;
  vertical-align: baseline;
  width: 100px;
}
section.candidate dl.vendor dd { width: 200px; }
section.candidate dl.vendor dd:nth-child(2) { font-size: 150%; }
section.records {
  padding: 10px;
  position: relative;
  vertical-align: top;
}
section.records dl {
  font-size: 90%;
  width: 310px;
  display: table-cell;
  vertical-align: top;
}
section.records dt {
  color: #666666;
  width: 75px;
  clear: both;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  vertical-align: top;
}
section.records dd {
  width: 225px;
  display: inline-block;
}
section.records dd address span { display: block; }
section.records dl.vendor dt {
  line-height: 150%;
  vertical-align: baseline;
  width: 100px;
}
section.records dl.vendor dd { width: 200px; }
section.records dl.vendor dd:nth-child(2) { font-size: 150%; }
section.ctb_records {
  padding: 10px;
  position: relative;
  vertical-align: top;
}
section.ctb_records dl {
  font-size: 90%;
  width: 310px;
  display: table-cell;
  vertical-align: top;
}
section.ctb_records dt {
  color: #666666;
  width: 75px;
  clear: both;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  vertical-align: top;
}
section.ctb_records dd {
  width: 225px;
  display: inline-block;
}
section.ctb_records dd address span { display: block; }
section.ctb_records dl.vendor dt {
  line-height: 150%;
  vertical-align: baseline;
  width: 100px;
}
section.ctb_records dl.vendor dd { width: 200px; }
section.ctb_records dl.vendor dd:nth-child(2) { font-size: 150%; }
section.nqf {
  padding: 10px;
  position: relative;
  vertical-align: top;
}
section.nqf dl {
  font-size: 90%;
  width: 310px;
  display: table-cell;
  vertical-align: top;
}
section.nqf dt {
  color: #666666;
  width: 75px;
  clear: both;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  vertical-align: top;
}
section.nqf dd {
  width: 225px;
  display: inline-block;
}
section.nqf dd address span { display: block; }
section.nqf dl.vendor dt {
  line-height: 150%;
  vertical-align: baseline;
  width: 100px;
}
section.nqf dl.vendor dd { width: 200px; }
section.nqf dl.vendor dd:nth-child(2) { font-size: 150%; }
section#vendor {
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/stylesheets/PIE.htc);
  vertical-align: top;
}
section#vendor h1 {
  margin-top: 20px;
  background-color: #ecf3e8;
  padding: 2px 10px;
  text-transform: uppercase;
}
section#vendor section { padding: 10px; }
section#vendor section input {
  padding: 4px;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/stylesheets/PIE.htc);
}
section#vendor h2 {
  margin: 5px 10px;
  padding-top: 5px;
  color: #666666;
  border-top: 1px solid #eeeeee;
  font-style: italic;
}
section#vendor dl {
  font-size: 90%;
  width: 310px;
  display: table-cell;
  vertical-align: top;
  line-height: 2.5em;
}
section#vendor dt {
  color: #666666;
  width: 140px;
  clear: both;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  vertical-align: top;
}
section#vendor dd {
  width: 160px;
  display: inline-block;
}
section#vendor dd address span { display: block; }
section#vendor section#testMeasures { padding-top: 0; }
section#vendor section#testMeasures span:nth-child(5n+6) { margin-top: 20px; }
section#vendor input#vendor_submit { margin-top: 20px; margin-left: 10px; margin-bottom: 10px }
section.records {
  line-height: 2em;
  padding: 10px 0;
}
section.records label { color: #666666; }
section.records textarea {
  height: 1em;
  padding: 6px;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/stylesheets/PIE.htc);
}
section.records input[type=button] {
  color: #666666;
  background-color: white;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/stylesheets/PIE.htc);
}
section.records div { margin: 0 0 10px 0; }
section.records time { color: #666666; }
section.records a.cmd {
  line-height: 1em;
  margin-right: 10px;
}
section a.nav {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: white;
  padding: 2px;
  text-indent: -9999pt;
  width: 30px;
  height: 30px;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/stylesheets/PIE.htc);
}
section.patient a.nav {
  top: auto;
  bottom: 10px;
}
section a.previous {
  background: url(/images/previous.png) 50% 50% no-repeat;
  right: 55px;
}
section a.advance { background: url(/images/advance.png) 50% 50% no-repeat; }
section.candidate, section.measure, section.patient, section.ctb_records, section.nqf,section.free-text {
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/stylesheets/PIE.htc);
  padding: 10px 10px 20px;
  position: relative;
}
section.nqf dl { width: 600px; }
section.nqf dl dt { text-align: left; }
section.nqf dl dd { width: 400px; }
section.nqf a.cmd {
  float: right;
  margin-left: 10px;
}
section.nqf h2 { font-size: 1.5em; }
section.nqf { padding-bottom: 10px; }
section.legend {
  padding: 10px 10px 10px 0;
  font-size: 90%;
  border-top: 1px solid #aaaaaa;
  line-height: 2em;
}
section.legend dt {
  color: #666666;
  display: inline-block;
}
section.legend dd {
  color: #666666;
  display: inline-block;
  margin-left: 25px;
  padding-left: 20px;
}
section.legend dd.na {
  color: #666666;
  background: url(/images/insufficient.png) 0% 50% no-repeat;
}
section.legend dd.pass {
  color: green;
  background: url(/images/pass.png) 0 50% no-repeat;
}
section.legend dd.fail {
  color: red;
  background: url(/images/fail.png) 0 50% no-repeat;
}
section table { width: 100%; }
section table thead { font-size: 90%; }
section table thead tr:first-child th {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
  padding-top: 25px;
}
section table th {
  padding: 2px 4px;
  vertical-align: top;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
}
section table td {
  padding: 2px 4px;
  vertical-align: top;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
}
section table td.patient_entry {
  width: 45%;
}
section table th { color: #666666; }
section table tr.na td { color: #aaaaaa; }
section table tr:nth-child(2) th {
  font-size: 90%;
  color: #999999;
}
section table th span.fail {
  font-weight: bold;
  color: red;
}
section table th span.pass {
  font-weight: bold;
  color: green;
}
section table tr td a { text-decoration: none; }
section table td div.na {
  background: url(/images/insufficient.png) 0 50% no-repeat;
  text-indent: -9999pt;
  width: 16px;
}
section table td div.fail {
  background: url(/images/fail.png) 0 50% no-repeat;
  text-indent: -9999pt;
  width: 16px;
}
section table td div.pass {
  background: url(/images/pass.png) 0 50% no-repeat;
  text-indent: -9999pt;
  width: 16px;
}
section table td.r { font-weight: bold; }
section table td span.na {
  color: #999999;
  font-style: italic;
}
section table td span.q { color: #999999; }
section#quality_measures { margin-bottom: 40px; }
section#quality_measures table thead tr th:nth-child(-n+4) { text-align: center; }
section#quality_measures table thead tr th:first-child { text-align: left; }
section#quality_measures table thead tr th:nth-child(5) { text-align: left; }
section#quality_measures tbody.fail td:nth-child(2) a { color: red; }
section#quality_measures tbody.pass td:nth-child(2) a { color: green; }
section#quality_measures tbody.fail span.f { color: red; }
section#quality_measures td:first-child { width: 1em; }
section#quality_measures td:nth-child(-n+5) { text-align: center; }
section#quality_measures td:nth-child(-n+2) { text-align: left; }
section.measure {
  margin-top: 10px;
  position: relative;
  padding-bottom: 0;
}
section.measure dl {
  font-size: 90%;
  margin-bottom: 10px;
}
section.measure dt {
  color: #666666;
  width: 120px;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  vertical-align: top;
}
section.measure dt.measure_title {
  line-height: 150%;
  vertical-align: baseline;
}
section.measure dd.measure_title { font-size: 150%; }
section.measure dd.measure_desc { margin-left: 130px; }
section.measure dd {
  width: 780px;
  display: inline-block;
}
section.measure dd table { width: 600px; }
section.measure dd table td { padding: 0 8px 0 0; }
section.measure dd table th { padding: 0 8px 0 0; }
section.measure dd table th {
  font-style: italic;
  text-align: right;
  color: #000000;
}
section.measure dd table span.r { font-weight: bold; }
section.measure dd table span.fail { color: red; }
section.measure dd.pass {
  background: url(/images/pass.png) 0 50% no-repeat;
  padding-left: 20px;
  color: green;
}
section.measure dd.na {
  background: url(/images/insufficient.png) 0 50% no-repeat;
  padding-left: 20px;
  color: #999999;
}
section.measure dd.fail {
  background: url(/images/fail.png) 0 50% no-repeat;
  padding-left: 20px;
  color: red;
  font-weight: bold;
}
section#vendor_patients {
  margin-top: 20px;
  margin-bottom: 40px;
}
section#vendor_patients #patient_controls {
  border: 1px solid #aaaaaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/stylesheets/PIE.htc);
  border: 1px solid green;
  width: 140px;
  text-align: center;
  padding: 0 10px;
  float: left;
}
section#vendor_patients #patient_controls input { display: none; }
section#vendor_patients #patient_controls label {
  text-transform: uppercase;
  display: block;
  padding: 5px;
  margin: 10px 0;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
section#vendor_patients #patient_controls label.selected {
  background-color: #cde6bc;
  border: 1px solid #cde6bc;
}
section#vendor_patients #patient_controls label:hover { border-color: green; }
section#vendor_patients input.search {
  margin: 0 0 15px 0;
  display: block;
}
table#patient_subset { border-collapse: collapse; }
table#patient_subset thead tr:first-child th { padding-top: 0; }
table#patient_subset tr.rot th div {
  white-space: nowrap;
  font-weight: 500;
  color: #000000;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 80%;
  display: inline-block;
  width: 1em;
  behavior: url(/stylesheets/PIE.htc);
}
table#patient_subset tr:hover td:nth-child(n+5) { background-color: #e6f3e8; }
table#patient_subset colgroup {
  background-color: #ffffff;
  padding: 0;
}
table#patient_subset col { width: 18px; }
table#patient_subset td:nth-child(-n+4) { background: url(/images/notincluded.png) 25% 25% no-repeat; }
table#patient_subset thead tr th {
  text-align: left;
  border-bottom: none;
  background-image: none;
}
table#patient_subset th:nth-child(9) { text-align: center; }
table#patient_subset td:nth-child(9) { text-align: center; }
table#patient_subset td:nth-child(5) {
  width: 10px;
  padding: 0;
}
table#patient_subset td { padding: 0 4px; }
table#patient_subset td:nth-child(n+5) { border: none; }
table#patient_subset td.p { background: url(/images/included.png) 25% 25% no-repeat; }
section.patient {
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: inline-block;
  width: 780px;
}
section.patient strong {
  font-weight: bold;
  text-transform: uppercase;
}
section.patient .patientname {
  margin-left: 140px;
  position: relative;
  top: 0;
}
section.patient div {
  position: relative;
  height: 131px;
  width: 550px;
}
section.patient dl {
  position: absolute;
  bottom: 0;
  left: 140px;
}
section.patient dt {
  display: inline-block;
  float: left;
  clear: left;
}
section.patient dd {
  margin-left: 10px;
  display: inline-block;
  font-weight: bold;
  float: left;
}
section.patient span.age { font-style: italic; }
section#patient_nqf { padding-top: 5px; }
section#patient_nqf table {
  display: block;
  border-collapse: collapse;
  float: left;
  width: 150px;
}
section#patient_nqf table thead tr th {
  text-align: center;
  height: 20px;
}
section#patient_nqf table thead tr:first-child th { padding-top: 0; }
section#patient_nqf table thead tr th:first-child {
  text-align: right;
  color: #000000;
  border-bottom: none;
}
section#patient_nqf table tr.rot th + th div {
  white-space: nowrap;
  font-weight: 500;
  color: #000000;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 80%;
  display: inline-block;
  width: 1em;
  behavior: url(/stylesheets/PIE.htc);
}
section#patient_nqf table colgroup {
  background-color: #ffffff;
  padding: 0;
}
section#patient_nqf table col { width: 18px; }
section#patient_nqf table td:nth-child(-n+5) { background: url(/images/notincluded.png) 25% 25% no-repeat; }
section#patient_nqf table td:first-child { background: none; }
section#patient_nqf table thead tr th {
  text-align: left;
  border-bottom: none;
}
section#patient_nqf table td { padding: 0 4px; }
section#patient_nqf table td.p { background: url(/images/included.png) 25% 25% no-repeat; }
section#patient_nqf table td.f { background: url(/images/fail.png) 25% 25% no-repeat; }
section#patient_nqf table tr td {
  font-size: 80%;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 1em;
  width: 1.4em;
  width: 5px;
}
section#patient_nqf table tr td:first-child {
  padding: 0 5px 0 0px;
  text-align: left;
  text-align: right;
  width: 4em;
}
section#patient_nqf table img { margin-top: 3px; }
div#effectiveDate {
  text-align: center;
  font-style: italic;
  position: relative;
  bottom: 5px;
}
section#patient_characteristics {
  width: 800px;
  vertical-align: top;
  margin-bottom: 40px;
  margin-left: 150px;
}
section#patient_characteristics table { width: 800px; }
section#patient_characteristics table tr th {
  background-color: #f0f0f0;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 85%;
}
section#patient_characteristics table td {
  padding: 0 4px;
  text-align: left;
}
section#patient_characteristics table tr td:last-child { text-align: right; }
section#patient_characteristics table tr td:nth-child(2) { width: 66%; }
section#patient_characteristics table tbody tr:last-child td { padding-bottom: 1em; }
section#patient_characteristics table td.reason {
  text-align: right;
  font-style: italic;
  font-size: 90%;
}
section#patient_characteristics table td.val { font-weight: bold; }
section#patient_characteristics table td em { font-weight: bold; }
section#patient_characteristics table tbody tr:last-child td { padding-bottom: 20px; }
section#patient_list {
  display: inline-block;
  vertical-align: top;
  width: 800px;
  margin-top: 30px;
}
section#patient_list table#patient_subset {
  margin-top: 25px;
  width: 850px;
}
section#patient_list table#patient_subset th { text-align: left; }
section#patient_list table#patient_subset th:nth-child(9) { text-align: center; }
section#patient_list section.measure dd { width: 500px; }
section#patient_list section.measure th {
  text-align: left;
  width: 3em;
}
section#patient_list input.search { margin-top: 15px; }
div.tabs {
  margin-top: 20px;
  margin-right: 20px;
  width: 90px;
  text-align: right;
  display: inline-block;
}
div.tabs ul {
  border-right: 1px solid #dddddd;
  list-style: none;
}
div.tabs li { text-align: right; }
div.tabs a.selected {
  text-decoration: none;
  background-color: green;
  font-weight: bold;
  color: white;
  border-color: green;
}
div.tabs a {
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
  behavior: url(js/PIE.htc);
  border: 1px solid #cccccc;
  border-right: none;
  display: block;
  margin: 0 0 2px 0;
  text-decoration: none;
  color: #555555;
  background-color: #ffffff;
  padding: 5px 10px 3px 10px;
}
section.ctb_records dl { line-height: 2.54em; }
section caption {
  font-weight: bold;
  text-transform: uppercase;
}
section#ehr_results {
  margin-bottom: 40px;
  border-top: 1px solid #cccccc;
}
section#ehr_results table thead tr th { text-align: left; }
section#ehr_results table tr:first-child th {
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
}
section#ehr_results table thead tr th:nth-child(2) { text-align: center; }
section#ehr_results table thead tr th:nth-child(3) { text-align: right; }
section#ehr_results table thead tr th:nth-child(4) { text-align: right; }
section#ehr_results table thead tr th:nth-child(5) { text-align: right; }
section#ehr_results table tr td:nth-child(3) { text-align: center; }
section#ehr_results table tr td:nth-child(4) { text-align: right; }
section#ehr_results table tr td:nth-child(5) { text-align: left; }
section#ehr_results table tr td:nth-child(6) { text-align: right; }
section#ehr_results table tbody.fail td:nth-child(2) a { color: red; }
section#ehr_results table tbody.fail td span.f { color: red; }
section#ehr_results table tbody.pass td:nth-child(2) a { color: green; }
section#ehr_results table tbody td:nth-child(7) { text-align: right; }
section#ehr_results th.failing {
  color: red;
  font-weight: bold;
  padding: 10px 0;
}
section#ehr_results th.passing {
  color: green;
  font-weight: bold;
  padding: 20px 0 10px;
}
footer#ccattribution {
  clear: left;
  text-align: right;
  font-size: 0.8em;
}
footer#ccattribution img {
  margin: 0 5px 0 20px;
  vertical-align: middle;
}
form.simple_form span { display: block; }
form.button_to div { display: inline; }
form.button_to { display: inline; }

section.free-text dt{
	font-weight:bold;
}

section.free-text dd{
	padding:5px;
}

h2.static-header{
padding-bottom:10px;
}
