<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class='panel-title'>Forgot your password?</h1>
  </div>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="panel-body">
    <%= f.email_field :email, autocapitalize: 'off', autocorrect: 'off', autofocus: true %>
  </div>

  <div class="panel-footer">
    <%= f.primary "Send me reset password instructions" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
