<header>
  <h1>cypress</h1>
  <nav>
    <span class="username">Welcome, <%= current_user.try(:first_name) || 'New User' %></span>
    <%= link_to "account", edit_user_registration_path %>
    <a href="/information/about">about</a>
    <a href="/information/feedback">feedback</a>
    <a href="/information/help">help</a>
    <%= link_to "logout", destroy_user_session_path %>
  </nav>
</header>