<section class="legend">
  <dl>
    <dt>Error Report Indicators:</dt>
    <dd class="pass pass-icon">passing</dd>
    <dd class="incomplete incomplete-icon">insufficient info</dd>
    <dd class="fail fail-icon">failing</dd>
  </dl>
</section>