<%

# requires local variables:
#   errors
#   message_title   (String) should be 'Error' or 'Warning'

# Note: all errors should be from the same test execution

%>

<% return if errors.count == 0 %>

<table class = 'table table-hover table-condensed'>
  <thead>
    <tr>
      <th scope="col"><%= "#{message_title} message" %></th>
      <th scope="col">Go To in XML</th>
    </tr>
  </thead>
  <tbody>
    <% errors.sort { |a, b| compare_error_locations_across_files(a, b) }.each do |error| %>
      <tr>
        <td><%= error.message %></td>
        <td>
          <% unless error.location.nil? || error.location == '/' || ['C3Cat1Task', 'C3Cat3Task'].include?(error.test_execution.task._type) %>
            <% line_num = get_line_number(error) %>
            <a class = 'execution_error_link' href = <%= "#error_#{error.id}" %> data-line-number = <%= line_num %>>jump to error</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
