<div>
  <div class = "subnav navbar">
    <div class = "navbar-inner">
      <div class = "container no-select">
        <ul class = "nav">
          <li><a class = "nav-link brand" href = "#results_panel"><i class = "fa fa-arrow-up"></i> Back to top</a></li>
          <li><a class = "nav-link nav-first" title = "Jump to first error"><i class = "fa fa-fast-backward"></i> First</a></li>
          <li><a class = "nav-link nav-prev" title = "Jump to previous error"><i class = "fa fa-step-backward"></i> Prev</a></li>
          <li><a class = "nav-link nav-next" title = "Jump to next error">Next <i class = "fa fa-step-forward"></i></a></li>
          <li><a class = "nav-link nav-last" title = "Jump to last error">Last <i class = "fa fa-fast-forward"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
