<% if result && result.positive? %>
  <span class="sr-only">Pass</span>
  <span class="fa-stack result-marker">
    <%= icon('fas fa-stack-2x', 'circle', :"aria-hidden" => true) %>
    <% unless result == 1 && !episode_of_care %>
      <strong class="fa-stack-1x result-text"><span class="sr-only">value of </span><%= result %></strong>
    <% end %>
  </span>
<% else %>
  <span class="sr-only">Fail</span>
  <%= icon('far fa-2x empty-marker', 'circle', :"aria-hidden" => true) %>
<% end %>
