<% trackers = PatientAnalysisJob.trackers.where('options.vendor_id': @vendor.id.to_s, 'options.bundle_id': @bundle.id.to_s,) %>
<% if trackers.count.positive?  %>
  <p>
  <h1>Current Patient Analysis</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class = "col-sm-4"></th>
        <th class = "col-sm-4">Status</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% trackers.reverse_each do |tracker| %>
      <tr>
        <td>Performing Patient Analysis</td>
        <td class="tracker-status">
          <%= tracker.status %>
          <% if tracker.status == :working %>
            <%= icon('fas fa-fw fa-spin', 'sync-alt', :"aria-hidden" => true) %>
          <% end %>
        </td>
        <td>
          <%= link_to "", admin_tracker_path(tracker), :method => :delete, :class => "close fa fa-fw fa-times" if tracker.status == :failed %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if trackers.or({ :status => :queued }, { :status => :working }).count.positive? %>
    <script>
      $(document).ready(function() {
        $.ajax({
          url: "<%= request.env['PATH_INFO'] %>",
          type: "GET",
          dataType: 'script',
          data: { partial: 'patient_analysis_jobs' }
        });
      });
    </script>
  <% end %>
<% end %>