<!-- Only grab measure records and result values once to avoid duplicate queries -->
<% if measure && patients.length.positive? %>
  <% measure_records = records_by_measure(patients, measure) %>
  <% result_values = get_result_values(patients, [measure], measure.population_ids.keys(), 'patient_id') %>
<% end %>
<h1><%= measure ? measure.display_name : 'All' %> Patients</h1>
<% if (measure && measure_records.length.positive?) || (!measure  && patients.length.positive?) %>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th scope="col">Patient Name</th>
      <% if product_test && !hide_patient_calculation? %>
        <th scope="col">Template Name</th>
      <%end%>
      <th scope="col">DOB</th>
      <th scope="col">Gender</th>
      <% if measure && !hide_patient_calculation?%>
        <% measure.population_ids.keys().each do |population| %>
          <th scope="col" class="text-center"><%= population_label(bundle, population) %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <% if measure && !(product_test && hide_patient_calculation?) %>
  <tfoot style="border-top: 2px solid #ddd;">
      <!-- will show aggregate record populations -->
      <tr>
        <th scope="row">Total</th>
        <% if product_test && !hide_patient_calculation? %>
          <td></td>
        <%end%>
        <td></td>
        <td></td>
        <!-- will show calculation results for product test records -->
          <% pop_sums(result_values).each do |_, value| %>
            <td class="text-center">
              <%= render 'calculation_result_icon', :result => value, :episode_of_care => measure.episode_of_care  %>
            </td>
          <% end %>
      </tr>
  </tfoot>
  <% end %>
  <tbody>
    <%= render 'calculation_results',
      :patients => (measure && !product_test) ? measure_records : patients,
      :product_test => product_test,
      :result_values => result_values,
      :bundle => bundle,
      :measure => measure,
      :task => task
    %>
  </tbody>
</table>

<% else %>
<p>No patient results for the current criteria.</p>
<% end %>
