<h1>Expected Result Patient List</h1>
<div class="pull-right button-row">
  <% if @measure && @measure.population_sets_and_stratifications_for_measure.size > 1 %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sub measures <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% @measure.population_sets_and_stratifications_for_measure.each do |population_set_hash| %>
          <li><%= link_to "#{measure_display_name(@measure, population_set_hash)}", product_test_task_by_filter_task_path(@task.product_test, @task, population_set_hash: population_set_hash), method: :get %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= button_to good_results_task_path(@task), :method => :get, :class => "btn btn-default" do %>
    <%= icon('fas fa-fw', 'download', :"aria-hidden" => true) %> Download HTML Patients
  <% end %>
</div>

<% cache [@patients, @measure, hide_patient_calculation?] do %>
  <div class="row">
    <div id="records_list" class="col-sm-12">
      <%= render 'records_list', :patients => @patients, :measure => @measure, :population_set_hash => @population_set_hash, :product_test => @product_test, :bundle => @bundle, :task => @task %>
    </div>
  </div>
<% end #cache records %>
