<h1>Expected Result Patient List</h1>
<div class="pull-right button-row">
  <% if @measure && @measure.sub_id %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sub measures <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% submeasures = Measure.where(hqmf_id: @measure.hqmf_id).sort_by(&:sub_id) %>
        <% submeasures.each do |submeasure| %>
          <li><%= link_to "#{submeasure.display_name} - #{submeasure.subtitle}", product_test_task_by_filter_task_path(@task.product_test, @task, sub_id: submeasure.sub_id),  method: :get %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= button_to good_results_task_path(@task), :method => :get, :class => "btn btn-default" do %>
    <%= icon('fas fa-fw', 'download', :"aria-hidden" => true) %> Download HTML Patients
  <% end %>
</div>

<% cache [@patients, @measure, hide_patient_calculation?] do %>
  <div class="row">
    <div id="records_list" class="col-sm-12">
      <%= render 'records_list', :patients => @patients, :measure => @measure, :product_test => @product_test, :bundle => @bundle, :task => @task %>
    </div>
  </div>
<% end #cache records %>
