<h1>Expected Result Patient List</h1>
<div class="float-end button-row">
  <% if @measure && @measure.population_sets_and_stratifications_for_measure.size > 1 %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sub measures<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% @measure.population_sets_and_stratifications_for_measure.each do |population_set_hash| %>
          <li><%= link_to "#{measure_display_name(@measure, population_set_hash)}", product_test_task_by_filter_task_path(@task.product_test, @task, hqmf_id: @measure.hqmf_id, population_set_hash: population_set_hash), method: :get %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= button_to product_test_task_html_filter_patients_path(@task.product_test, @task, hqmf_id: @measure.hqmf_id, population_set_hash: @population_set_hash), :method => :get, :class => "btn btn-default" do %>
    <%= icon('fas fa-fw', 'download', :"aria-hidden" => true) %> Download HTML Patients
  <% end %>
</div>

<% measure_cache_key = @measure.nil? ? 'none' : @measure.id %>
<% cache [@patients.map(&:id), measure_cache_key, hide_patient_calculation?] do %>
  <div class="row">
    <div id="records_list" class="col-sm-12">
      <%= render 'records_list', :patients => @patients, :measure => @measure, :population_set_hash => @population_set_hash, :product_test => @product_test, :bundle => @bundle, :task => @task, :vendor => @vendor %>
    </div>
  </div>
<% end #cache records %>
