<%

# local variables:
#
#   title   (String)
#   tasks   (Array of tasks)

%>

<% return unless tasks && tasks.any? %>

<h2><%= title %></h2>

<ul>
  <% tasks.each do |task| %>
    <% test = task.product_test %>
    <li><%= "#{test.cms_id} #{test.name}" %></li>
  <% end %>
</ul>
