<%

# local variable 'passing'

%>

<span aria-hidden="true" class='<%= passing ? 'text-success' : 'text-danger' %>'><%= passing ? '✓' : 'X' %></span>
<span class="sr-only"><%= passing ? 'passing' : 'failing' %></span>
