<%

# local variable 'passing'

%>

<% icon_image_class = passing ? 'fa-check' : 'fa-times' %>
<% icon_color_class = passing ? 'text-success' : 'text-danger' %>

<i aria-hidden="true" class = '<%= "fa fa-lg #{icon_image_class} #{icon_color_class}" %>'></i>
<span class="sr-only"><%= passing ? 'passing' : 'failing' %></span>
