CMS Programs:
  ep:
    '2020':
      - MIPS_GROUP
      - MIPS_INDIV
      - MIPS_VIRTUALGROUP
      - MIPS_APMENTITY
      - MIPS_APP1_INDIV
      - MIPS_APP1_GROUP
      - MIPS_APP1_APMENTITY
      - CPCPLUS
      - PCF
    '2021':
      - MIPS_GROUP
      - MIPS_INDIV
      - MIPS_VIRTUALGROUP
      - MIPS_APMENTITY
      - MIPS_APP1_INDIV
      - MIPS_APP1_GROUP
      - MIPS_APP1_APMENTITY
      - PCF
  eh:
    '2020':
      - HQR_PI
      - HQR_IQR
      - HQR_PI_IQR
      - HQR_IQR_VOL
    '2021':
      - HQR_PI
      - HQR_IQR
      - HQR_PI_IQR
      - HQR_IQR_VOL
Program Criterion:
  CCN:
    name: 'CMS Certification Number'
    description:
      eh: 'The organizations Facility CMS Certification Number (CCN). CCN is required for HQR.'
    conf:
      eh: '(CONF:4444-28241_C01)'
    programs:
      - HQR_PI
      - HQR_IQR
      - HQR_PI_IQR
      - HQR_IQR_VOL
  HIC:
    name: 'Medicare HIC Number'
    optional: true
    description:
      eh: 'Medicare HIC Number is not required for HQR but should be submitted if the payer is Medicare and the patient has an HIC number assigned.'
    conf:
      eh: '(CONF:4444- 16857_C01)'
    programs:
      - HQR_PI
      - HQR_IQR
      - HQR_PI_IQR
      - HQR_IQR_VOL
  Patient Identification Number:
    name: 'Patient Identification Number'
    description:
      eh: 'Patient Identification Number is required for HQR.'
    conf:
      eh: '(CONF:CMS_0009)'
    programs:
      - HQR_PI
      - HQR_IQR
      - HQR_PI_IQR
      - HQR_IQR_VOL
  MBI:
    name: 'Medicare Beneficiary Identifier'
    optional: true
    description:
      eh: 'Medicare Beneficiary Identifier (MBI) is not required for HQR but should be submitted if the payer is Medicare and the patient has an MBI number assigned.'
    conf:
      eh: '(CONF:4444- 28697_C01)'
    programs:
      - HQR_PI
      - HQR_IQR
      - HQR_PI_IQR
      - HQR_IQR_VOL
  CMS EHR Certification ID:
    name: 'CMS EHR Certification ID'
    description:
      CPCPLUS: 'For CPC+, all QRDA III files must include a CMS EHR Certification ID. Nulls will not be allowed.'
      PCF: 'For PCF, all QRDA III files must include a CMS EHR Certification ID. Nulls will not be allowed.'
      eh: 'The Certified Health Information Technology (IT) Product List (CHPL) is the authoritative and comprehensive listing of health IT certified through the Office of the National Coordinator for Health Information Technology (ONC) Health IT Certification Program. A CMS EHR Certification Identification Number is a number generated by the CHPL and used for reporting to CMS.'
    conf:
      eh: '(CONF:CMS_0005)'
      ep: '(CONF:CMS_85)'
    programs:
      - HQR_PI
      - HQR_IQR
      - HQR_PI_IQR
      - HQR_IQR_VOL
      - CPCPLUS
      - PCF
  TIN:
    name: 'Tax Identification Number'
    description:
      CPCPLUS: 'For CPC+: it must contain at least one performer, each performer contains one TIN and one NPI'
      PCF: 'For PCF: it must contain at least one performer, each performer contains one TIN and one NPI'
      MIPS_GROUP: 'For MIPS group reporting: it must contain exactly one performer, which contains one TIN. No NPI is allowed.'
      MIPS_INDIV: 'For MIPS individual reporting: it must contain exactly one performer, which contains one TIN and one NPI.'
      eh: 'For HQR, TIN may not be applicable. If TIN is submitted for HQR, then it SHALL conform to the constraints specified for TIN. and the TIN must be in valid format (9 decimal digits).'
    conf:
      eh: '(CONF:4444-16593)'
      ep: '(CONF:3338-18190)'
    programs:
      - HQR_PI
      - HQR_IQR
      - HQR_PI_IQR
      - HQR_IQR_VOL
      - MIPS_GROUP
      - MIPS_APP1_GROUP
      - MIPS_INDIV
      - MIPS_APP1_INDIV
      - CPCPLUS
      - PCF
  Virtual Group Identifier:
    name: 'Virtual Group Identifier'
    description:
      MIPS_VIRTUALGROUP: 'For MIPS virtual group reporting: it must contain exactly one performer, which contains one Virtual Group Identifier. No NPI is allowed.'
    conf:
      ep: '(CONF:CMS_81)'
    programs:
      - MIPS_VIRTUALGROUP
  NPI:
    name: 'National Provider Identification number'
    description:
      CPCPLUS: 'For CPC+: it must contain at least one performer, each performer contains one TIN and one NPI'
      PCF: 'For PCF: it must contain at least one performer, each performer contains one TIN and one NPI'
      MIPS_INDIV: 'For MIPS individual reporting: it must contain exactly one performer, which contains one TIN and one NPI.'
      eh: 'For HQR, NPI may not be applicable. If NPI is submitted for HQR, then the NPI SHALL conform to the constraints specified for NPI and the NPI must be in the correct format.'
      ep:
    conf:
      eh: '(CONF:3364-28497)'
      ep: '(CONF:3338-18247)'
    programs:
      - HQR_PI
      - HQR_IQR
      - HQR_PI_IQR
      - HQR_IQR_VOL
      - MIPS_INDIV
      - MIPS_APP1_INDIV
      - CPCPLUS
      - PCF
  CPCPLUS APM Entity Identifier:
    name: 'CPCPLUS APM Entity Identifier'
    description:
      ep: 'The CPCPLUS APM Entity Identifier assigned to the CPC+ practice site.'
    conf:
      ep: '(CONF:CMS_21)'
    programs:
      - CPCPLUS
  PCF APM Entity Identifier:
    name: 'PCF APM Entity Identifier'
    description:
      ep: 'This is the PCF APM Entity Identifier assigned to the PCF practice site.'
    conf:
      ep: '(CONF:CMS_101)'
    programs:
      - PCF
  MIPS APM Entity Identifier:
    name: 'MIPS APM Entity Identifier'
    description:
      ep: 'This is the MIPS APM Entity Identifier assigned to the MIPS practice site.'
    conf:
      ep: '(CONF:CMS_109)'
    programs:
      - MIPS_APMENTITY
      - MIPS_APP1_APMENTITY
