effective_date:
  year: 2015
  month: 12
  day: 31

version: 3.0.0beta2

default_bundle: "2016.0.0"

# Specify the folder to look for the schematron files in based on bundle version these folders are in ./resources/schematron/
# Schematron files need to be named:
  # EP_CAT_1.sch
  # EP_CAT_3.sch
  # EH_CAT_1.sch
# Inside the specified folder.
# The highest matching version will be used. Ie if bundle version is 3.0.0  the schematrons would be 3.0.0
# In the case of none of them being valid it will default to the first one
version_config:
  '>2.9.0':
      schematron: "bundle_2_9_9"
      qrda_version: "r3"
  '~>2016.0.0':
      schematron: false
      qrda_version: "r3_1"

enable_logging: false

#set to true to enable a banner at the top of every page with the "banner_message" text from below
banner: false
banner_message: "This server is for demonstration purposes; data on it will be removed every Saturday at 11:59 PM Eastern Time"

# mailer settings
website_domain: <%= ENV["WEBSITE_DOMAIN"] %>
website_port: <%= ENV["WEBSITE_PORT"] || 80 %>
mailer_address: <%= ENV["MAILER_ADDRESS"] %>
mailer_port: <%= ENV["MAILER_PORT"] %>
mailer_domain: <%= ENV["MAILER_DOMAIN"] %>
mailer_user_name: <%= ENV["MAILER_USER_NAME"] %>
mailer_password: <%= ENV["MAILER_PASSWORD"] %>
mailer_authentication: :plain

bundle_file_path: "temp/bundles"

# ignore roles completely -- this is essientially the same as everyone in the system being an admin, default true
ignore_roles: <%= if ENV['IGNORE_ROLES'].nil? then true else ENV['IGNORE_ROLES'] end %>

# enable the "debug features" such as allowing QA testers to produce known good results for a task, default true
enable_debug_features: <%= if ENV['ENABLE_DEBUG_FEATURES'].nil? then true else ENV['ENABLE_DEBUG_FEATURES'] end %>

# the default role to assign to a user upon at creation -- this should be either admin,atl, user or nil
# a user without a role will not be able to create or view any vendors .  You may want to set this to nil
# when an admin is required to approve new users and have the admin set the role there, default :user
default_role: <%= if !ENV["DEFAULT_ROLE"].nil? && ENV["DEFAULT_ROLE"].empty? then nil else (ENV["DEFAULT_ROLE"] || ":user") end %>
# wheather or not users are automatically approved without admin intervention, default true
auto_approve: <%= if ENV['AUTO_APPROVE'].nil? then true else ENV['AUTO_APPROVE'] end %>
# sets whether or not Users are automatically linked to a Vendor based off the vendors points of contacts. Setting to true will
# auto associate a User to a vendor when a user is created and a vendor point of contanct contains the same email address as the
# user.  Likewise if a point of contact is added to a vendor and a User in the system has the same email address then the user
# will be associated with the vendor.  The association is also automatically updated/rmoved when the user is removed from the system
# or the point of contact is removed or updated from the vendor.  Setting this to true will also enable the devise plugin confirmable
# which will require users to confirm their registration via an email link sent to their address.
# Setting this to false disables the automatic associations as well as the devise confirmable pluggin
auto_associate_pocs: false

auto_confirm: true

file_upload_root: "data/upload/"

pid_dir: "./tmp/delayed_pids"
# Configuration for values to use when randomizing patients in test decks
randomization:
  names:
    first:
      M: [James, John, Robert, Michael, William, David, Richard, Charles, Joseph, Thomas, Christopher, Daniel, Paul, Mark, Donald, George, Kenneth, Steven, Edward, Brian, Ronald, Anthony, Kevin, Jason, Matthew, Gary, Timothy, Jose, Larry, Jeffrey, Frank, Scott, Eric, Stephen, Andrew, Raymond, Gregory, Joshua, Jerry, Dennis, Walter, Patrick, Peter, Harold, Douglas, Henry, Carl, Arthur, Ryan, Roger, Joe, Juan, Jack, Albert, Jonathan, Justin, Terry, Gerald, Keith, Samuel, Willie, Ralph, Lawrence, Nicholas, Roy, Benjamin, Bruce, Brandon, Adam, Harry, Fred, Wayne, Billy, Steve, Louis, Jeremy, Aaron, Randy, Howard, Eugene, Carlos, Russell, Bobby, Victor, Martin, Ernest, Phillip, Todd, Jesse, Craig, Alan, Shawn, Clarence, Sean, Philip, Chris, Johnny, Earl, Jimmy, Antonio, Danny, Bryan, Tony, Luis, Mike, Stanley, Leonard, Nathan, Dale, Manuel, Rodney, Curtis, Norman, Allen, Marvin, Vincent, Glenn, Jeffery, Travis, Jeff, Chad, Jacob, Lee, Melvin, Alfred, Kyle, Francis, Bradley, Jesus, Herbert, Frederick, Ray, Joel, Edwin, Don, Eddie, Ricky, Troy, Randall, Barry, Alexander, Bernard, Mario, Leroy, Francisco, Marcus, Micheal, Theodore, Clifford, Miguel, Oscar, Jay, Jim, Tom, Calvin, Alex, Jon, Ronnie, Bill, Lloyd, Tommy, Leon, Derek, Warren, Darrell, Jerome, Floyd, Leo, Alvin, Tim, Wesley, Gordon, Dean, Greg, Jorge, Dustin, Pedro, Derrick, Dan, Lewis, Zachary, Corey, Herman, Maurice, Vernon, Roberto, Clyde, Glen, Hector, Shane, Ricardo, Sam, Rick, Lester, Brent, Ramon, Charlie, Tyler, Gilbert, Gene, Marc, Reginald, Ruben, Brett, Angel, Nathaniel, Rafael, Leslie, Edgar, Milton, Raul, Ben, Chester, Cecil, Duane, Franklin, Andre, Elmer, Brad, Gabriel, Ron, Mitchell, Roland, Arnold, Harvey, Jared, Adrian, Karl, Cory, Claude, Erik, Darryl, Jamie, Neil, Jessie, Christian, Javier, Fernando, Clinton, Ted, Mathew, Tyrone, Darren, Lonnie, Lance, Cody, Julio, Kelly, Kurt, Allan, Nelson, Guy, Clayton, Hugh, Max, Dwayne, Dwight, Armando, Felix, Jimmie, Everett, Jordan, Ian, Wallace, Ken, Bob, Jaime, Casey, Alfredo, Alberto, Dave, Ivan, Johnnie, Sidney, Byron, Julian, Isaac, Morris, Clifton, Willard, Daryl, Ross, Virgil, Andy, Marshall, Salvador, Perry, Kirk, Sergio, Marion, Tracy, Seth, Kent, Terrance, Rene, Eduardo, Terrence, Enrique, Freddie, Wade]
      F: [Mary, Patricia, Linda, Barbara, Elizabeth, Jennifer, Maria, Susan, Margaret, Dorothy, Lisa, Nancy, Karen, Betty, Helen, Sandra, Donna, Carol, Ruth, Sharon, Michelle, Laura, Sarah, Kimberly, Deborah, Jessica, Shirley, Cynthia, Angela, Melissa, Brenda, Amy, Anna, Rebecca, Virginia, Kathleen, Pamela, Martha, Debra, Amanda, Stephanie, Carolyn, Christine, Marie, Janet, Catherine, Frances, Ann, Joyce, Diane, Alice, Julie, Heather, Teresa, Doris, Gloria, Evelyn, Jean, Cheryl, Mildred, Katherine, Joan, Ashley, Judith, Rose, Janice, Kelly, Nicole, Judy, Christina, Kathy, Theresa, Beverly, Denise, Tammy, Irene, Jane, Lori, Rachel, Marilyn, Andrea, Kathryn, Louise, Sara, Anne, Jacqueline, Wanda, Bonnie, Julia, Ruby, Lois, Tina, Phyllis, Norma, Paula, Diana, Annie, Lillian, Emily, Robin, Peggy, Crystal, Gladys, Rita, Dawn, Connie, Florence, Tracy, Edna, Tiffany, Carmen, Rosa, Cindy, Grace, Wendy, Victoria, Edith, Kim, Sherry, Sylvia, Josephine, Thelma, Shannon, Sheila, Ethel, Ellen, Elaine, Marjorie, Carrie, Charlotte, Monica, Esther, Pauline, Emma, Juanita, Anita, Rhonda, Hazel, Amber, Eva, Debbie, April, Leslie, Clara, Lucille, Jamie, Joanne, Eleanor, Valerie, Danielle, Megan, Alicia, Suzanne, Michele, Gail, Bertha, Darlene, Veronica, Jill, Erin, Geraldine, Lauren, Cathy, Joann, Lorraine, Lynn, Sally, Regina, Erica, Beatrice, Dolores, Bernice, Audrey, Yvonne, Annette, June, Samantha, Marion, Dana, Stacy, Ana, Renee, Ida, Vivian, Roberta, Holly, Brittany, Melanie, Loretta, Yolanda, Jeanette, Laurie, Katie, Kristen, Vanessa, Alma, Sue, Elsie, Beth, Jeanne, Vicki, Carla, Tara, Rosemary, Eileen, Terri, Gertrude, Lucy, Tonya, Ella, Stacey, Wilma, Gina, Kristin, Jessie, Natalie, Agnes, Vera, Willie, Charlene, Bessie, Delores, Melinda, Pearl, Arlene, Maureen, Colleen, Allison, Tamara, Joy, Georgia, Constance, Lillie, Claudia, Jackie, Marcia, Tanya, Nellie, Minnie, Marlene, Heidi, Glenda, Lydia, Viola, Courtney, Marian, Stella, Caroline, Dora, Jo, Vickie, Mattie, Terry, Maxine, Irma, Mabel, Marsha, Myrtle, Lena, Christy, Deanna, Patsy, Hilda, Gwendolyn, Jennie, Nora, Margie, Nina, Cassandra, Leah, Penny, Kay, Priscilla, Naomi, Carole, Brandy, Olga, Billie, Dianne, Tracey, Leona, Jenny, Felicia, Sonia, Miriam, Velma, Becky, Bobbie, Violet, Kristina, Toni, Misty, Mae, Shelly, Daisy, Ramona, Sherri, Erika, Katrina, Claire]
    last: [Smith, Johnson, Williams, Jones, Brown, Davis, Miller, Wilson, Moore, Taylor, Anderson, Thomas, Jackson, White, Harris, Martin, Thompson, Garcia, Martinez, Robinson, Clark, Rodriguez, Lewis, Lee, Walker, Hall, Allen, Young, Hernandez, King, Wright, Lopez, Hill, Scott, Green, Adams, Baker, Gonzalez, Nelson, Carter, Mitchell, Perez, Roberts, Turner, Phillips, Campbell, Parker, Evans, Edwards, Collins, Stewart, Sanchez, Morris, Rogers, Reed, Cook, Morgan, Bell, Murphy, Bailey, Rivera, Cooper, Richardson, Cox, Howard, Ward, Torres, Peterson, Gray, Ramirez, James, Watson, Brooks, Kelly, Sanders, Price, Bennett, Wood, Barnes, Ross, Henderson, Coleman, Jenkins, Perry, Powell, Long, Patterson, Hughes, Flores, Washington, Butler, Simmons, Foster, Gonzales, Bryant, Alexander, Russell, Griffin, Diaz, Hayes, Myers, Ford, Hamilton, Graham, Sullivan, Wallace, Woods, Cole, West, Jordan, Owens, Reynolds, Fisher, Ellis, Harrison, Gibson, Mcdonald, Cruz, Marshall, Ortiz, Gomez, Murray, Freeman, Wells, Webb, Simpson, Stevens, Tucker, Porter, Hunter, Hicks, Crawford, Henry, Boyd, Mason, Morales, Kennedy, Warren, Dixon, Ramos, Reyes, Burns, Gordon, Shaw, Holmes, Rice, Robertson, Hunt, Black, Daniels, Palmer, Mills, Nichols, Grant, Knight, Ferguson, Rose, Stone, Hawkins, Dunn, Perkins, Hudson, Spencer, Gardner, Stephens, Payne, Pierce, Berry, Matthews, Arnold, Wagner, Willis, Ray, Watkins, Olson, Carroll, Duncan, Snyder, Hart, Cunningham, Bradley, Lane, Andrews, Ruiz, Harper, Fox, Riley, Armstrong, Carpenter, Weaver, Greene, Lawrence, Elliott, Chavez, Sims, Austin, Peters, Kelley, Franklin, Lawson, Fields, Gutierrez, Ryan, Schmidt, Carr, Vasquez, Castillo, Wheeler, Chapman, Oliver, Montgomery, Richards, Williamson, Johnston, Banks, Meyer, Bishop, Mccoy, Howell, Alvarez, Morrison, Hansen, Fernandez, Garza, Harvey, Little, Burton, Stanley, Nguyen, George, Jacobs, Reid, Kim, Fuller, Lynch, Dean, Gilbert, Garrett, Romero, Welch, Larson, Frazier, Burke, Hanson, Day, Mendoza, Moreno, Bowman, Medina, Fowler, Brewer, Hoffman, Carlson, Silva, Pearson, Holland, Douglas, Fleming, Jensen, Vargas, Byrd, Davidson, Hopkins, May, Terry, Herrera, Wade, Soto, Walters, Curtis, Neal, Caldwell, Lowe, Jennings, Barnett, Graves, Jimenez, Horton, Shelton, Barrett, Obrien, Castro, Sutton, Gregory, Mckinney, Lucas, Miles, Craig, Rodriquez, Chambers, Holt, Lambert, Fletcher, Watts, Bates, Hale, Rhodes, Pena, Beck, Newman, Haynes, Mcdaniel, Mendez, Bush, Vaughn, Parks, Dawson, Santiago, Norris, Hardy, Love, Steele, Curry, Powers, Schultz, Barker, Guzman, Page, Munoz, Ball, Keller, Chandler, Weber, Leonard, Walsh, Lyons, Ramsey, Wolfe, Schneider, Mullins, Benson, Sharp, Bowen, Daniel, Barber, Cummings, Hines, Baldwin, Griffith, Valdez, Hubbard, Salazar, Reeves, Warner, Stevenson, Burgess, Santos, Tate, Cross, Garner, Mann, Mack, Moss, Thornton, Dennis, Mcgee, Farmer, Delgado, Aguilar, Vega, Glover, Manning, Cohen, Harmon, Rodgers, Robbins, Newton, Todd, Blair, Higgins, Ingram, Reese, Cannon, Strickland, Townsend, Potter, Goodwin, Walton, Rowe, Hampton, Ortega, Patton, Swanson, Joseph, Francis, Goodman, Maldonado, Yates, Becker, Erickson, Hodges, Rios, Conner, Adkins, Webster, Norman, Malone, Hammond, Flowers, Cobb, Moody, Quinn, Blake, Maxwell, Pope, Floyd, Osborne, Paul, Mccarthy, Guerrero, Lindsey, Estrada, Sandoval, Gibbs, Tyler, Gross, Fitzgerald, Stokes, Doyle, Sherman, Saunders, Wise, Colon, Gill, Alvarado, Greer, Padilla, Simon, Waters, Nunez, Ballard, Schwartz, Mcbride, Houston, Christensen, Klein, Pratt, Briggs, Parsons, Mclaughlin, Zimmerman, French, Buchanan, Moran, Copeland, Roy, Pittman, Brady, Mccormick, Holloway, Brock, Poole, Frank, Logan, Owen, Bass, Marsh, Drake, Wong, Jefferson, Park, Morton, Abbott, Sparks, Patrick, Norton, Huff, Clayton, Massey, Lloyd, Figueroa, Carson, Bowers, Roberson, Barton, Tran, Lamb, Harrington, Casey, Boone, Cortez, Clarke, Mathis, Singleton, Wilkins, Cain, Bryan, Underwood, Hogan, Mckenzie, Collier, Luna, Phelps, Mcguire, Allison, Bridges, Wilkerson, Nash, Summers, Atkins]
  races:
    - code       : 1002-5
      name       : American Indian or Alaska Native
      codeSystem : 2.16.840.1.113883.6.238
    - code       : 2028-9
      name       : Asian
      codeSystem : 2.16.840.1.113883.6.238
    - code       : 2054-5
      name       : Black or African American
      codeSystem : 2.16.840.1.113883.6.238
    - code       : 2076-8
      name       : Native Hawaiian or Other Pacific Islander
      codeSystem : 2.16.840.1.113883.6.238
    - code       : 2131-1
      name       : Other Race
      codeSystem : 2.16.840.1.113883.6.238
    - code       : 2106-3
      name       : White
      codeSystem : 2.16.840.1.113883.6.238
  ethnicities:
    - code       : 2135-2
      name       : Hispanic or Latino
      codeSystem : 2.16.840.1.113883.6.238
    - code       : 2186-5
      name       : Not Hispanic or Latino
      codeSystem : 2.16.840.1.113883.6.238
  payers:
    - type       : MA
      code       : 1
      name       : Medicare
      codeSystem : SOP
    - type       : MC
      code       : 2
      name       : Medicaid
      codeSystem : SOP
    - type       : OT
      code       : 349
      name       : Other
      codeSystem : SOP
references:
  bundles:
    previous:
      title : 2015 Cypress 3.0 Test Bundle
      url   : http://demo.projectcypress.org/bundles/bundle-3.0.0-2015.zip
    current:
      title : 2016 Cypress 3.0 Test Bundle
      url   : http://demo.projectcypress.org/bundles/bundle-3.0.0-2016.zip
  install_guide:
    title : Cypress 3.0 Install Instructions
    url   : https://github.com/projectcypress/cypress/wiki/Cypress-3.0-Install-Instructions
default_provider:
  given_name     : 'Mary'
  family_name    : 'Smith'
  title          : 'Dr'
  addresses:
    - street:
      - '11 Main St'
      city       : 'Allston'
      state      : 'MA'
      zip        : '02134'
      country    : 'us'
  cda_identifiers:
    - root       : '2.16.840.1.113883.4.6'  #npi
      extension  : '1245319599'
    - root       : '2.16.840.1.113883.4.2'  #tin
      extension  : '155772012'

certifications:
  C1:
    title: 'C1 Test'
    subtitle: 'Record and Export'
    description:  => 'EHRs must be able to export a data file that includes all of the data captured for every tested CQM.'
    tests:
      - 'MeasureTest'
      - 'ChecklistTest'
  C2:
    title: 'C2 Test'
    subtitle: 'Import & Calculate'
    description: 'EHR technology must be able to electronically import a data file and use such data to perform calculations.'
    tests:
      - 'MeasureTest'
  C3:
    title: 'C3 Test'
    subtitle: 'Data Submission'
    description: 'EHRs must enable a user to electronically create a data file for transmission of clinical quality measurement data.'
    tests:
      - 'MeasureTest'
  C4:
    title: 'C4 Test'
    subtitle: 'Data Filtering'
    description: 'EHRs must be able to filter patient records based on data criteria.'
    tests:
      - 'FilteringTest'
tests:
  MeasureTest:
    title: 'Measure Tests'
    description: "Test the EHR system's ability to record and export (C1), import and calculate (C2), and submit (C3) measure based data."
    certifications:
      - 'C1'
      - 'C2'
      - 'C3'
  FilteringTest:
    title: 'CQM Filtering Test'
    description: "Test the EHR system's ability to filter patient records."
    certifications:
      - 'C4'
  ChecklistTest:
    title: 'Manual Entry Test'
    description: 'Validate the EHR system for C1 certification by manually entering specified patient data for the following measures.'
    instructions:
      - instruction: 'Fill in the Data Criteria Checklist below.'
        subinstructions:
          - 'If a Data Criteria has value sets listed, an appropriate code needs to be entered into the "Recorded Code" text box.'
          - 'If an Attribute has a value set, an appropriate code needs to be entered into the "Recorded Attribute Code" text box.'
          - 'Codes are validated upon saving.'
          - 'Result, Date Times, Cumulative Medication Durations, Fulfills, and Length of Stay are to be recorded as free text.  ATLs will record the values they have observed being entered into the system under test.'
      - instruction: 'Create (at least) one patient for each measure below.'
        subinstructions:
        - 'The created patients must contain all required Data Criteria, for the selected measures, to pass certification.'
        - 'Export the created patients as QRDA Category I, and create a zip file.'
      - instruction: 'Upload zip file with created test patients.'
    certifications:
      - 'C1'

CPC_measures:
# 2015 measure list from: https://innovation.cms.gov/Files/x/cpci-ecqm-manual.pdf
  2015: ['40280381-4600-425F-0146-1F6F722B0F17','40280381-4600-425F-0146-1F5867D40E82','40280381-446B-B8C2-0145-3E1D974A66A3',
         '40280381-4555-E1C1-0145-762289881C2E','40280381-4600-425F-0146-EE66F0005509','40280381-4555-E1C1-0145-762578A81C4C',
         '40280381-4555-E1C1-0145-90AC70DE2C73','40280381-4600-425F-0146-1F68661E0ED5','40280381-4600-425F-0146-1F8D3B750FAC',
         '40280381-4555-E1C1-0145-8652B6BD22D4','40280381-4555-E1C1-0145-672613970D15','40280381-4555-E1C1-0145-DD4E02E44678',
         '40280381-4555-E1C1-0145-DC7DC26A44BF']
# 2016 measure list from: https://downloads.cms.gov/files/cmmi/cpci-implementationguide2016.pdf
  2016: ['40280381-4B9A-3825-014B-C290ABF408CA','40280381-4C18-79DF-014C-2DFA25F60C0E','40280381-4B9A-3825-014B-E10B1E0A13DB',
         '40280381-4B9A-3825-014B-E0BC5EFD12F0','40280381-4BE2-53B3-014C-13F567921F71','40280381-4BE2-53B3-014C-0F589C1A1C39',
         '40280381-4B9A-3825-014B-E0A9409212A3','40280381-4CC2-8FFD-014C-D8450C9A0848','40280381-4DE7-DB4D-014D-E861EA2D01A1',
         '40280381-4B9A-3825-014B-E0C7AC461325','40280381-4BE2-53B3-014B-EBAF72D707C4','40280381-4B9A-3825-014B-C11AE59D069B',
         '40280381-4BE2-53B3-014C-040DE60D10E1']
