# This file is only for constants, it is NOT meant to be modified directly! Modifying this file will result in Cypress
# upgrades failing to complete successfully.

# These settings are kept in the constants file with the assumption that the end user should not be overriding them.
bundle_file_path: 'temp/bundles'
file_upload_root: 'data/upload/'

# These were initially in I18n however for some reason I18n is not loaded when rake tasks are run, which means we often
# end up getting translation missing errors.
default_banner_message: 'This server is for demonstration purposes; data on it will be removed every Saturday at 11:59 PM Eastern Time'
default_warning_message: 'This warning banner provides privacy and security notices consistent with applicable federal laws, directives, and other federal guidance for accessing this Government system, which includes all devices/storage media attached to this system. This system is provided for Government-authorized use only. Unauthorized or improper use of this system is prohibited and may result in disciplinary action and/or civil and criminal penalties. At any time, and for any lawful Government purpose, the government may monitor, record, and audit your system usage and/or intercept, search and seize any communication or data transiting or stored on this system. Therefore, you have no reasonable expectation of privacy. Any communication or data transiting or stored on this system may be disclosed or used for any lawful Government purpose.'

# Specify the folder to look for the schematron files in based on bundle version these folders are in ./resources/schematron/
# Schematron files need to be named:
  # EP_CAT_1.sch
  # EP_CAT_3.sch
  # EH_CAT_1.sch
# Inside the specified folder.
# The highest matching version will be used. Ie if bundle version is 3.0.0  the schematrons would be 3.0.0
# In the case of none of them being valid it will default to the first one
# modified_population_labels are used to indicate when the population code required by the qrda version differs from the population code in QME
version_config:
  '~>2018.0.0':
      start_date_offset: 2
      modified_population_labels:
        IPP: 'IPOP'
      schematron: "2018.0.0"
      qrda_version: "r5"
      qrda3_version: "r2_1"
      default_negation_codes:
        2.16.840.1.113883.3.526.3.1184:
          code: "854901"
          codeSystem: "RxNorm"
        2.16.840.1.113883.3.526.3.1174:
          code: "854901"
          codeSystem: "RxNorm"
      CMSQRDA3SchematronValidator_warnings:
      CMSQRDA1HQRSchematronValidator_warnings:

# Configuration for values to use when randomizing patients in test decks
# Names and nicknames added in a separate YML file
randomization:
  races:
    - code           : 1002-5
      name           : American Indian or Alaska Native
      codeSystem     : 2.16.840.1.113883.6.238
      codeSystemName : CDC Race
    - code           : 2028-9
      name           : Asian
      codeSystem     : 2.16.840.1.113883.6.238
      codeSystemName : CDC Race
    - code           : 2054-5
      name           : Black or African American
      codeSystem     : 2.16.840.1.113883.6.238
      codeSystemName : CDC Race
    - code           : 2076-8
      name           : Native Hawaiian or Other Pacific Islander
      codeSystem     : 2.16.840.1.113883.6.238
      codeSystemName : CDC Race
    - code           : 2131-1
      name           : Other Race
      codeSystem     : 2.16.840.1.113883.6.238
      codeSystemName : CDC Race
    - code           : 2106-3
      name           : White
      codeSystem     : 2.16.840.1.113883.6.238
      codeSystemName : CDC Race
  ethnicities:
    - code           : 2135-2
      name           : Hispanic or Latino
      codeSystem     : 2.16.840.1.113883.6.238
      codeSystemName : CDC Race
    - code           : 2186-5
      name           : Not Hispanic or Latino
      codeSystem     : 2.16.840.1.113883.6.238
      codeSystemName : CDC Race
  payers:
    - type       : MA
      code       : 1
      name       : Medicare
      codeSystem : SOP
      codeCMS    : A
    - type       : MC
      code       : 2
      name       : Medicaid
      codeSystem : SOP
      codeCMS    : B
    - type       : OT
      code       : 349
      name       : Other
      codeSystem : SOP
      codeCMS    : D
references:
  bundles:
    current:
      title : Cypress bundle for the 2019 Reporting/Performance period (eCQM value sets as of May 4, 2018)
      url   : https://cypressdemo.healthit.gov/measure_bundles/bundle-2018.zip
  install_guide:
    title : Cypress Initial Setup Instructions
    url   : https://github.com/projectcypress/cypress/wiki
default_provider:
  given_name     : 'Mary'
  family_name    : 'Smith'
  title          : 'Dr'
  addresses:
    - street:
      - '11 Main St'
      city       : 'Allston'
      state      : 'MA'
      zip        : '02134'
      country    : 'us'
  identifiers:
    - namingSystem  : '2.16.840.1.113883.4.6'  #npi
      value         : '1245319599'
    - namingSystem  : '2.16.840.1.113883.4.2'  #tin
      value         : '155772012'

certifications:
  C1:
    title: 'C1 Test'
    subtitle: 'Record and Export'
    description:  => 'EHRs must be able to export a data file that includes all of the data captured for every tested CQM.'
    tests:
      - 'MeasureTest'
      - 'ChecklistTest'
  C2:
    title: 'C2 Test'
    subtitle: 'Import & Calculate'
    description: 'EHR technology must be able to electronically import a data file and use such data to perform calculations.'
    tests:
      - 'MeasureTest'
  C3:
    title: 'C3 Test'
    subtitle: 'Data Submission'
    description: 'EHRs must enable a user to electronically create a data file for transmission of clinical quality measurement data.'
    tests:
      - 'MeasureTest'
  C4:
    title: 'C4 Test'
    subtitle: 'Data Filtering'
    description: 'EHRs must be able to filter patient records based on data criteria.'
    tests:
      - 'FilteringTest'
tests:
  MeasureTest:
    title: 'Measure Tests'
    description: "Test the EHR system's ability to record and export (C1), import and calculate (C2), and submit (C3) measure based data."
    certifications:
      - 'C1'
      - 'C2'
      - 'C3'
  FilteringTest:
    title: 'CQM Filtering Test'
    description: "Test the EHR system's ability to filter patient records."
    certifications:
      - 'C4'
  ChecklistTest:
    title: 'Record Sample'
    description: 'Validate the EHR system for C1 certification by entering specified patient data for the following measures.'
    instructions:
      - instruction: 'Fill in the Data Criteria fields below.'
        subinstructions:
          - 'If a Data Criteria has value sets listed, an appropriate code needs to be entered into the "Recorded Code" text box.'
          - 'If an Attribute has a value set, an appropriate code needs to be entered into the "Recorded Attribute Code" text box.'
          - 'Codes are validated upon saving.'
          - 'Result, Date Times, and Related To are to be recorded as free text.  ATLs will record the values they have observed being entered into the system under test.'
      - instruction: 'Create (at least) one patient for each measure below.   Patients may be created using a user interface, or may be created as a structured document to be imported into the system under test.'
        subinstructions:
        - 'There are no requirements on what format the structured data artifact must be.  Could be CCDA, QRDA, or other formats.'
        - 'This structured data artifact needs to be created at the time of certification'
        - 'The created patients must contain all required Data Criteria, for the selected measures, to pass certification.'
        - 'Export the created patients as QRDA Category I, and create a zip file.'
      - instruction: 'Upload zip file with created test patients.'
    certifications:
      - 'C1'

CPC_measures:
# 2018 measure list from: https://innovation.cms.gov/Files/x/cpcplus-qualrptpy2018.pdf
  2018: ['40280382-6258-7581-0162-92D6E6DB1680', '40280382-6258-7581-0162-9249C8AB1447', '40280382-6258-7581-0162-927500B514EF',
'40280382-6258-7581-0162-92959376159D', '40280382-6258-7581-0162-92660F2414B9', '40280382-6258-7581-0162-9241A52A13FD',
'40280382-6240-B6B9-0162-5467C36A0B71', '40280382-6258-7581-0162-92C7A9811647', '40280382-5FA6-FE85-0160-0ED2838423CA',
'40280382-6258-7581-0162-63106F9201B2', '40280382-6258-7581-0162-AAAD978C1B8B', '40280382-6240-B6B9-0162-54815A310C2C',
'40280382-6258-7581-0162-92A37A9B15DF', '40280382-6258-7581-0162-9208CE991364', '40280382-6240-B6B9-0162-5096917708E0',
'40280382-6258-7581-0162-92877E281530', '40280382-6258-7581-0162-92CDAF46165E', '40280382-610B-E7A4-0161-9A6155603811',
'40280382-6258-7581-0162-92106B67138D']
