<%

# local variable 'task' is required

%>

<table class = 'table table-condensed execution-status-table'>
  <thead>
    <tr>
      <td class = 'col-sm-2'></td>
      <th scope='col' class = 'col-sm-1'>Status</th>
      <th scope='col' class = 'col-sm-2'>QRDA Errors</th>
      <th scope='col' class = 'col-sm-2'>Reporting Errors</th>
      <% if task.product_test.product.c3_test %>
        <th scope='col' class = 'col-sm-2'>Submission Errors</th>
      <% end %>
      <th scope='col' class = 'col-sm-2'>Last Execution Date</th>
      <td class = 'col-sm-1'></td>
    </tr>
  </thead>
  <tbody>
    <% if task.product_test.product.c1_test %>
      <%= render partial: 'execution_status_row', locals: { task: task.product_test.c1_task, is_current_task: task._type == 'C1Task' } %>
    <% end %>
    <% if task.product_test.product.c2_test %>
      <%= render partial: 'execution_status_row', locals: { task: task.product_test.c2_task, is_current_task: task._type == 'C2Task' } %>
    <% end %>
  </tbody>
</table>
