<%

# inputs:
#
#   task (c1task or c2task)

%>

<%= form_for(TestExecution.new, :html => { method: :post, :multipart => true }) do |f| %>
  <%= hidden_field_tag :task_id, task.id %>
  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
    <div class="form-control" data-trigger="fileinput">
      <i class="fa fa-fw fa-file fileinput-exists"></i>
      <span class="fileinput-filename"></span>
    </div>
    <span class="input-group-addon btn btn-info btn-file">
      <span class="fileinput-new"><i class="fa fa-fw fa-mouse-pointer"></i> Select file</span>
      <span class="fileinput-exists"><i class="fa fa-fw fa-refresh"></i> Change</span>
      <label class = "hidden" for = "results"></label>
      <%= file_field_tag :results, class: 'upload-results' %>
    </span>
    <a id = 'submit-upload' class="input-group-addon fileinput-exists btn btn-success"><i class="fa fa-fw fa-upload"></i> Upload and run test</a>
  </div>
<% end %>
