<% if result && result.positive? %>
  <span class="sr-only">Pass</span>
  <span class="result-marker">
    <!-- If there is an observed value for the population, include it paranthetically -->
    <% result_string = observation ? "#{result}  (#{observation['value']})" : result %>
    <strong class="result-text-positive-contrast"><span class="sr-only">value of </span><%= result_string %></strong>
  </span>
<% else %>
  <span class="sr-only">Fail</span>
  <%= icon('far fa-2x empty-marker', 'circle', :"aria-hidden" => true) %>
<% end %>
