<% if task.product_test_aggregate_results %>
<h1>Expected Aggregate Results</h1>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th scope="col">Measure Name</th>
      <% population_keys = task.measures.collect(&:population_keys).flatten.uniq %>
      <% population_keys.each do |population| %>
        <th scope="col" class="text-center"><%= population_label(task.bundle, population) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <!-- Only show records that are part of the measures IPP-->
    <% task.product_test_aggregate_results.each do |aggregate_result| %>
      <% mes = Measure.find(aggregate_result.measure_id) %>
      <% mes.population_sets_and_stratifications_for_measure.each do |population_set_hash| %>
        <% key = mes.key_for_population_set(population_set_hash) %>
        <% population_set = aggregate_result.population_set_results.select { |psr| psr.population_set_key == key }&.first %>
        <tr>
          <td><%= measure_display_name(mes, population_set_hash) %></td>
          <% population_keys.each do |population| %>
          <% if population_keys.include? population %>
            <td class="text-center">
              <%= render 'expected_result_icon', :result => population_set ? population_set[population] : 0 %>
            </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
