<% if task.product_test_expected_results %>
<h1>Expected Aggregate Results</h1>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th scope="col">Measure Name</th>
      <% population_keys = task.measures.collect(&:population_keys).flatten.uniq %>
      <% population_keys.each do |population| %>
        <th scope="col" class="text-center"><%= population_label(task.bundle, population) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <!-- Only show records that are part of the measures IPP-->
    <% task.product_test_expected_results.each do |hqmf_id, expected_results| %>
      <% mes = Measure.where(hqmf_id: hqmf_id).first %>
      <% expected_results.each do |population_set, expected_result| %>
        <tr>
          <td><%= measure_display_name(mes, mes.population_set_hash_for_key(population_set)) %></td>
          <% population_keys.each do |population| %>
          <% if population_keys.include? population %>
            <td class="text-center">
              <%= render 'expected_result_icon', :result => expected_result[population] %>
            </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
