<% @measures.each do |mes| %>
	<h4><%= mes.name %></h4>
	<% all_dc = mes.all_data_criteria.flatten.compact.uniq{|dc| [dc.description, dc.code_list_id]}
		 all_dc.each do |dc| 
		 	unless dc.description.nil? || dc.description == ""
		 		background = @elements.index(dc.code_list_id ) ? "green" : "red"
		 	%>
			 <div> <span style="background: <%=background%>"> <%= dc.description %> (<%= dc.code_list_id %>)</span></div>
	<%  end
	end %>

<% end %>