<text>
  <table border="1" width="100%">
    <thead>
      <tr>
        <th>Description</th>
        <th>Codes</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% entries.each do |entry| -%>
        <tr>
          <td><%= entry.description %></td>
          <td><%= entry.codes_to_s %></td>
          <td><%= entry.times_to_s %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</text>