// Mixin to adjust scaling of heading elements
@mixin headings-settings($h-size, $h-weight: $headings-font-weight, $h-margin: auto) {
  @each $h in h1, h2, h3, h4, h5, h6 {
    #{$h}, .#{$h} {
      font-size: $h-size;
      font-weight: $h-weight;
      margin: $h-margin;
    }

    $h-size: $h-size / $headings-line-height;
  }
}
