@mixin alert-border($color) {
  border-left: 5px solid $color;
}

.alert {
  &.alert-success { @include alert-border($state-success-text); }
  &.alert-info { @include alert-border($state-info-text); }
  &.alert-warning { @include alert-border($state-warning-text); }
  &.alert-danger { @include alert-border($state-danger-text); }

  .fa-close { font-size: 1.4em; }

  .iconSpan {
    border-right: 0;
    padding: 0 1em 0 0;
  }

  .alertContent {
    border-left: 1px solid $gray-light;
    vertical-align: middle;

    p {
      font-family: 'Ubuntu';
      padding: 0 2em;
    }
  }
}

// add margin for the alerts shown at the top of the page
.container > .alert,
.breadcrumb-responsive + .alert {
  margin: -.5em 1em 2em;
}

// a styled alert is used to overlay restricted areas
.warning-overlay {
  position: absolute;
  background: $body-bg;
  padding: 0 1em;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  .alertContent p {
    font-family: $font-family-base;
  }
}
