@mixin alert-border($color) {
  border-left: 5px solid $color;
}

.alert {
  &.alert-success { @include alert-border($success-text-emphasis); }
  &.alert-info { @include alert-border($info-text-emphasis); }
  &.alert-warning { @include alert-border($warning-text-emphasis); }
  &.alert-danger { @include alert-border($danger-text-emphasis); }

  .fa-times { font-size: 1.4em; }

  .iconSpan {
    border-right: 0;
    padding: 0 1em 0 0;
  }

  .alertContent {
    border-left: 1px solid $black;
    vertical-align: middle;

    p {
      padding: 0 2em;
    }
  }
}

// add margin for the alerts shown at the top of the page
.container > .alert,
.breadcrumb-responsive + .alert {
  margin: -.5em 1em 2em;
}
// or for alerts shown after a .control-label
.control-label + .alert {
  margin: 1em auto;
}
