.card-title {
  letter-spacing: .04em;
}

// cards inside of cards should not take full width
.card-body .card {
  margin: $card-spacer-y;
}

// Add spacing between a button and adjacent inline text
.card-footer .btn + span {
  margin-left: $border-radius-sm;
}

.card.summary h1 {
  margin-top: .25em;
}

.test-steps {
  margin-top: 1em;
  display: flex;

  .card {
    flex: 1; // all cards get equal width
  }

  .filters-list {
    dd p {
      margin-left: 1em;
      margin-top: 0;

      &:first-of-type {
        margin-top: 1em;
      }
    }
  }
}

.execution-information {
  padding: 1em;
}

@mixin darker-hover($border-color, $name) {
  $darker-border-color: darken($border-color, 15%);
  border-color: darken($border-color, 5%);

  // for the buttons with dark backgrounds, add a shadow to text
  @if $name != 'danger' {
    @if $name != 'default' {
      text-shadow: 1px 1px 2px transparentize($darker-border-color, .5),
                  -1px -1px 2px transparentize($darker-border-color, .5);
    }
  }

  &:hover,
  &:focus {
    // create namespaced animation for the background-color
    @keyframes pulsate-#{$name} {
      50% { background-color: $border-color; }
    }

    @include animation-name(pulsate-#{$name});
    @include animation-duration(2s);
    @include animation-delay(100);
    @include animation-timing-function(linear);
    @include animation-iteration-count(infinite);
    color: $card-inactive-heading-bg;
    background-color: $card-inactive-text;
    border-color: $card-inactive-border;
  }
}

