.modal {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal-backdrop { background-color: rgba(255,255,255,0.8); }

.modal .form-stacked { margin-bottom: 0; }