html {
  position: relative;
  min-height: 100%;
}

main {
  margin-bottom: 5em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em;
  border: 1px solid $navbar-default-border;

  .container {
    padding: 1em;
  }
  
}
