.form-group {
  .control-label .radio,
  .control-label .checkbox {
    margin-top: 0;
  }

  .help-block {
    margin-top: 0;
    font-size: .85em;
    font-style: italic;
  }

  .label-block {
    display: block;
  }
}

.checkbox + .checkbox {
  margin-top: 1em;
}
