.form-group {
  .control-label .radio,
  .control-label .checkbox {
    margin-top: 0;
  }

  .help-block {
    margin-top: 0;
    font-size: .85em;
    font-style: italic;
  }

  .label-block {
    display: block;
  }
}

.checkbox + .checkbox {
  margin-top: 1em;
}

// need to overwrite .input-group-addon colors when buttons are involved
@each $state in primary, success, danger, warning, info, default {
  .input-group-addon.btn-#{$state} {
    @extend .btn-#{$state};
  }
}

.panel-title select {
  color: $text-color;
}
