.indent {
  margin-left: 1em;
}

.markup {
	color: #00008b;
}

.comment {
	color: #9ACD32
}

.text {
	color: black;
}

.start-tag { color: #00008b;}
.end_tag { color: #00008b;}


.pi { color: #9932CC; }

.attribute-name{ color: #F4A460;}

.attribute-value{ color:#FF6347;}

.attribute_error{}

.error{
	color : red;
}