.navbar-toggle {
  color: $navbar-inverse-link-color;
  margin: 0;
}

.navbar {
  @include box-shadow(0 1px 1px $dropdown-border);
}

.demo {
  padding: 20px 0;
  font-size: x-large;
  background: $tooltip-bg;
  color: $tooltip-color;
  text-align: center;
  line-height: 1em;
}

.navbar,
.breadcrumb {
  font-family: 'Ubuntu';
  letter-spacing: .04em;
}

.navbar-header {
  line-height: $navbar-height + $navbar-padding-vertical * 2;

  a {
    color: $navbar-inverse-link-color;
    font-size: 2em;
    margin-left: .5em;
  }
}

.navbar-nav li .navbar-item {
  height: $navbar-height + $navbar-padding-vertical * 4;
  display: table-cell;
  vertical-align: middle;
}

.navbar-collapse.in,
.navbar-collapse.collapsing {
  .navbar-nav {
    display: table;
    margin: 0;
    width: 100%;

    > li {
      display: table-row;
      text-align: center;
      > a { width: 100%; }
    }
  }
}

.breadcrumb > li {
  @include box-shadow(0 1px 1px $dropdown-border);
  display: table-cell;
  padding: 8px 10px;
  background-color: $navbar-inverse-bg;
  color: $navbar-inverse-link-color;
  max-width: 24em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    padding: 6px 0;
    color: $navbar-inverse-link-color;
  }

  + li::before {
    content: $fa-var-caret-right;
    font-family: FontAwesome;
    padding: 0 8px 0 0;
    margin-left: -10px;
    color: $navbar-inverse-bg;
  }

  &:hover {
    background-color: $navbar-inverse-link-active-bg;

    + li::before {
      color: $navbar-inverse-link-active-color;
    }

    > a:hover { text-decoration: none; }
  }

  &.active {
    background-color: $navbar-inverse-link-active-bg;
    color: $navbar-inverse-link-active-color;
  }
}
