.panel-title {
  letter-spacing: .04em;
}

// Panels inside of panels should not take full width
.panel-body .panel {
  margin: $panel-body-padding;
}

// Add spacing between a button and adjacent inline text
.panel-footer .btn + span {
  margin-left: $padding-xs-horizontal;
}

.panel.summary h1 {
  margin-top: .25em;
}
