
div.pocs, div.pocs > div {
  padding-left: 0;
}

/* add spacing between points of contact */
div.pocs > div {
  margin-bottom: 1em;
}

div.pocs > div > div {
  word-wrap: break-word;
}

/* tab subsequent line for a single point of contact */
div.pocs > div > div:not(:first-child) {
  margin-left: 1em;
}

.expand_pocs {
  cursor: pointer;
}