// Cypress customizations for popovers

.popover-inner {
  background: $gray; // has to be full background declaration for IE fallback
  background: rgba(80,80,80,.8);
  width:550px;
}

.popover-content {
	max-height: 300px;
	overflow: scroll;
}
