.product-report {
  dl {
    background-color: $gray-lighter;
    padding: 1em;
  }
}

@media print {
  header { display: none; }

  .product-report {
    section:not(:first-child) { page-break-before: always; }
    h1, h2, h3 { page-break-after: avoid; }
    thead { display: table-header-group; }
    tr { page-break-inside: avoid;}
    
    // overrides bootstrap's forced transparent backgrounds
    dl { background-color: $gray-lighter !important; }
  }

  @page { margin: 2cm 1.4cm; }
}
