.left_col {
  text-align: right;
  font-weight: bold;
}

.right_col {
  text-align: left;
}

.page_title {
  font-size: 2em;
}

.product_description_row {
  margin-bottom: .5em;
}

.table {
  margin-top: 4em;
}

.panel-heading h1,
.panel-heading h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: auto;
}

.required:after {
  content: ' *';
}

.control-label {
  font-weight: 700;

  + .radio,
  + .checkbox {
    margin-top: 0;
  }
}

.help-block {
  margin-top: 0;
  font-size: .85em;
  font-style: italic;
}

.pick-measures {
  margin-top: 1em;
}
