$gray: #999;
$white: #fff;
$table-row-odd-bg: lighten($brand-primary, 50%);

.description-heading {
  font-size: 1.25em;
  font-family: 'Ubuntu';
  font-weight: bold;
  line-height: 1.2;
}

.div-table {
  display: table;
  width: 100%;
}

.div-table-body {
  display: table-row-group;
}

.div-table-row {
  border: 1px solid $gray;
}

.div-head-row:nth-child(odd) {
  display: table-row-group;
  background-color: $table-row-odd-bg;
  border-left: 1px solid $gray;
}

.div-head-row:nth-child(even) {
  display: table-row-group;
  border-left: 1px solid $gray;
}

.div-table-cell {
  display: table-row;
  padding: 3px 10px;
}

.div-table-head {
  border: 1px solid $gray;
  display: table-cell;
  padding: 3px 10px;
}

.div-table-head--no-border {
  display: table-cell;
  padding: 3px 10px;
}

.div-table-head--no-border {
  display: table-cell;
  padding: 3px 10px;
}

.div-table-heading {
  display: none;
}

.td_label{
  font-weight: bold;
  color: $white;
}

.div-table-cell-label {
  font-weight: bold;
}
