section {
  margin: 0;
  p { padding: 10px; }
  position: relative;
  dl {
    font-size: 90%;
    width: 310px;
    display: table-cell;
  }
  
}
section#patient_list{
  width:800px;
  margin-top: 30px;
padding:0px;
  display: inline-block;
  vertical-align: top;
}

section.patient.patientname{
    margin-left: 190px;
  }
section.information {
  font-size: 1em;
  line-height: 1.5em;
}

section.legend {
  padding: 10px 10px 10px 0;
  font-size: 90%;
  border-top: 1px solid $borderColor;
  dl, dt, dd { width: auto; display: inline-block; }
  dd { margin-left: 25px; }
}
.patient_info{
  position:relative;
top:opx;
}