.splash-panel {
  height: 381px;
  background: url('cypress_bg_cropped.png');
  background-size: auto 381px;
}

.splash-title-container {
  display: inline-block;
  margin-left: 50px;
  margin-top: 35px;
  width: 45%;
  color: $brand-secondary;
  text-align: left;

  h1 {
    margin-top: 0;
    font-size: 80px;
    margin-bottom: 8px;
    font-weight: bold;
  }

  h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 700;
  }

  p {
    font-size: 10px;
    font-weight: 100;
  }
}

.sign-in-panel-container {
  display: inline;
  float: right;
  position: absolute;
  margin-top: 10px;
  right: 4%;
}

.sign-in-panel {
  text-align: left;
  width: 300px;
  margin-bottom: 0;
}

.splash-info-panels-container {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.splash-info-panel {
  display: inline-block;
  margin: 5px;
  width: 350px;
  height: 368px;
  text-align: left;
  vertical-align: top;
}

.sign-in-panel-container-moved {
  float: none;
  margin: auto;
  margin-bottom: 5px;
  display: block;
  left: 0;
  position: relative;
  width: 300px;

  .sign-in-panel-footer {
    a {
      color: $brand-primary;
    }
  }
}

.sign-in-panel-footer {
  margin-left: 0;
  text-align: left;

  a {
    color: $brand-white;
  }
}
