.table {
  .abbreviated {
    max-width: 16em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      white-space: normal;
      overflow: hidden;
    }
  }

  .result-marker {
    .fa-circle { color: $state-success-bg; }
    .fa-circle-thin { color: $state-success-text; }

    .result-text {
      color: $state-success-text;
      font-weight: normal;
    }
  }

  .empty-marker {
    color: $state-warning-border;
  }
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.dataTable thead th {
  padding-right: 1.5em; // make sure the sorting icon is visible
}
