// overwrite the styles for jQuery-UI tabs with
// reasonable styles for both vertical and horizontal tabs

.ui-tabs-nav.ui-widget-header {
  background: $body-bg;

  .ui-state-default {
    background: $gray-lighter;
    border-color: $gray-lighter;
    color: $text-color;
    white-space: normal;

    .ui-tabs-anchor {
      font-size: small;
    }
  }

  .ui-tabs-active.ui-state-active {
    background: $body-bg;
    border-color: $gray-light;

    .ui-tabs-anchor {
      font-weight: bold;
    }
  }

  .ui-state-disabled,
  .ui-widget-content .ui-state-disabled,
  .ui-widget-header .ui-state-disabled {
    opacity: 1;
    background: $body-bg;
    border-color: $body-bg;
  }
}

.ui-widget-content a {
  color: $link-color;
}

/////////////////////
// horizontal tabs //
/////////////////////

.ui-tabs:not(.ui-tabs-vertical) {

  > .ui-tabs-nav {
    border-bottom: 1px solid $gray-light;
    padding-left: 0;

    li {
      margin-top: .5em;
    }

    .ui-tabs-active.ui-state-active {
      margin-top: .25em;
      padding-top: .25em;
    }
  }

  > .ui-tabs-panel {
    padding: 2em 0;
  }
}

///////////////////
// vertical tabs //
///////////////////

.ui-tabs-vertical {

  > .ui-tabs-nav {
    padding: 0;
    float: left;
    width: 40%;

    li {
      width: calc(100% - .6em);
      border-bottom-width: 1px;
      border-right-width: 0;
      margin-left: .6em;

      &:first-of-type {
        margin-top: 0;
      }

      .ui-tabs-anchor {
        font-weight: normal;
        width: 100%;
      }
    }

    .ui-tabs-active.ui-state-active {
      margin-left: 0;
      margin-bottom: 0;
      width: 100%;
    }
  }

  > .ui-tabs-panel {
    float: right;
    width: 60%;

    .ui-tabs .ui-tabs-anchor {
      font-weight: normal;
    }
  }
}

.short-tabs.ui-tabs-vertical {
  > .ui-tabs-nav {
    width: 25%;
  }

  > .ui-tabs-panel {
    width: 75%;
    padding-top: 0;
    padding-right: 0;

    h2 { margin-top: 0; }

    .ui-tabs .ui-tabs-panel {
      border: 0;
      padding: 1em 0;
    }
  }
}

.file-error-tabs {
  > .ui-tabs-nav {
    border-right: 2px solid $gray-light;

    li {
      border: 0;
      border-right-style: solid;
      border-right-width: 10px;
      margin: 0;
      width: 100%;
    }

    .ui-state-default {
      background: $body-bg;
      border-color: $body-bg;
    }

    .ui-tabs-active.ui-state-active {
      background: $gray-lighter;
      border-color: $gray-lighter;
      margin: 0;

      &::after {
        content: '';
        position: absolute;
        top: .25em;
        right: -12px;
        border-color: transparent $gray-light transparent transparent;
        border-style: solid;
        border-width: 13px;
      }
    }
  }
}
