@import './xml_view';

.page-title {
  margin-bottom: 1em;
}

.test-step {
  /*background-color: $state-info-bg;*/
  border: 0;
  padding: 1em;

  h2 {
    border-bottom: 1px $state-info-text solid;
    color: $state-info-text;
    font-size: 1.25em;
    padding-bottom: .5em;
    margin-top: 0;
  }
}

.inline {
  display: inline;
}

.btn-info {
  background: $btn-info-bg;
  color: $btn-info-color;
  border-color: $btn-info-border;
}

.btn-success {
  background: $btn-success-bg;
  color: $btn-success-color;
  border-color: $btn-success-border;
}

.tab-content {
  margin-top: 1em;
}

.execution-status-table {

  th, td {
    text-align: center;
  }

  .highlight-row {
    background-color: $gray-lighter;
  }
}
