@import './xml_view';

.page-title {
  margin-bottom: 1em;
}

.inline {
  display: inline;
}

.tab-content {
  margin-top: 1em;
}

.execution-status-table {

  th, td {
    text-align: center;
  }

  .highlight-row {
    background-color: $gray-lighter;
  }
}
