@import './xml_view';

.page-title {
  margin-bottom: 1em;
}

.inline {
  display: inline;
}

.tab-content {
  margin-top: 1em;
}

.task-switch-link {
  color: $gray-dark;
}

.task-panel {
  border: 0;
  box-shadow: none;
}

.nested-link {
  font-weight: bold;
}

.margin-top-1 {
  margin-top: 1em;
}

.panel-inactive:hover {
  .nested-link {
    text-decoration: underline;
  }
}

.cert-bar {
  width: 25%;
  margin-bottom: 2.5em;

  .text-center {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    float: left;
    font-size: 16px;
  }

  div:not(:first-child) {
    border-left: 1px solid $gray;
  }

  .active-cert {
    color: $panel-primary-text;
    background: $panel-primary-heading-bg;
  }

  .inactive-cert {
    font-weight: 200;
    color: $panel-inactive-text;
  }
}
