$color_checkbox_success:#4cd964;
$color_checkbox_default:#8E8E93;
$transition: .3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: 4em;
$height: $width/2;


.toggle{
  
   .toggle-control{
     transition: $transition;
      width: $width;
      height: $height;
      display: block;
     border: 2px solid $color_checkbox_default;
     border-radius: $height;
     background-color: rgba(black,.06);
     position: relative;
     &:after{
       transition: $transition;
       content: "";
       width: $width/2;
       height: $height;
       display: block;
       background-color: #fff;
       border-radius: 50%;
       box-shadow: 0 1px 2px rgba(black, .4),0 3px 2px rgba(black,.4);
       position: absolute;
       top: 0;
       left: 0;
     }
   }
   
  input{
    display: none;
    &:checked + .toggle-control{
      border-color: $color_checkbox_success;
      background-color: $color_checkbox_success;
      &:after{
        left: $width/2;
      }
    }
  }
  
  .toggle_input{
   
  }
  
}