h1 {
font-size: $fontSize*2;
font-weight:$fontWeight;
}


h2{
font-size: $fontSize*2;
font-weight:$fontWeight;
}

.dl-horizontal{
  x-padding-top:10px;
  x-padding-bottom: 15px;
   dt {
    float:left;
    width: 120px;
    overflow: hidden;
    clear: left;
    text-align: right;
    white-space: nowrap;
    color:#666;
    font-weight: $fontWeight;
    display:table-cell;
    height:21px;
  }
  dd { 
    padding-left:10px;
    font-size: $fontSize;
    text-overflow:ellipsis;
    display:table-cell;
    text-align:left;
    height:21px;
  }
}

dl.measure {
  display:inline-block;
  width:750px;
  margin: 0px;
  padding:0px;
  dt {
    width:120px;
  }
 dd {
    width:600px;
  }
  dd.measure_desc {
  font-size:$fontSize*10/9;
  }
}

.patient dt {
width: 50px;
}


.inline-span {
  font-size:$fontSize;
font-weight:$fontWeight;
}