h1 {
font-size: $fontSize*2;
font-weight:$fontWeight;
}


h2{
font-size: $fontSize*2;
font-weight:$fontWeight;
}


.dl-horizontal dt {
  float: left;
  width: 190px;
  overflow: hidden;
  clear: left;
  text-align: right;
  white-space: nowrap;
  color:#666;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

.dl-horizontal dd {
  margin-left: 250px;
  text-align:left;
  font-size: $fontSize*1.5;
font-weight:bold;
}

.inline-span {
  font-size:$fontSize;
font-weight:$fontWeight;
}