// Alignments
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.align-block { text-align: block; }

// Passing, failing, incomplete persistent styles
.fail { color: $failColor; }
.pass { color: $passColor; }
.incomplete { color: $incompleteColor; }
.result { color: $resultColor; }

.fail-icon, .pass-icon, .incomplete-icon { padding-left: 20px; }
.fail-icon { background: url(/assets/fail.png) 0% 50% no-repeat; }
.pass-icon { background: url(/assets/pass.png) 0% 50% no-repeat; }
.incomplete-icon { background: url(/assets/insufficient.png) 0% 50% no-repeat; }

// Small widgets
.expander {
  cursor: pointer;
  background: url(/assets/closed.gif) 4px 9px no-repeat;
  &.open {background:url(/assets/open.gif) 4px 9px no-repeat;}
}