// Alignments
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.strong { font-weight:bold;}

// Passing, failing, incomplete persistent styles
.fail { color: $failColor;}
.warn { color: $warnColor;}
.pass { color: $passColor; font-weight:$fontWeight; }
.incomplete { color: $incompleteColor; font-weight:$fontWeight;}
a.incomplete {color : #333}
.result { color: $resultColor; font-weight:$fontWeight; }

.fail-icon, .pass-icon, .incomplete-icon , .failed-icon, .passed-icon, .pending-icon{ padding-left: 20px; }
.fail-icon{ background: url(/assets/fail.png) 0 0.4em no-repeat; }
.failed-icon{ background: url(/assets/fail.png) 0 0.4em no-repeat; }
.pass-icon { background: url(/assets/included.png) 0 0.4em no-repeat; }
.passed-icon { background: url(/assets/pass.png) 0 0.4em no-repeat; }
.incomplete-icon { background: url(/assets/insufficient.png) 0 0.4em no-repeat; }
.pending-icon { background: url(/assets/insufficient.png) 0 0.4em no-repeat; }


// Small widgets
.expander {
  cursor: pointer;
  background: url(/assets/closed.gif) 4px 9px no-repeat;
  &.open {background:url(/assets/open.gif) 4px 9px no-repeat;}
}