


.value-set-group {
  @extend .btn; 
  padding: 4px;
  text-align: left;
  color: $headings-color;
  border: 0;
  width: 100%;
  box-shadow: $navbar-shadow;
}

.set-menu {
  background-color: $panel-inner-border;
  border-bottom-color: $gray-lighter; 
  box-shadow: $navbar-shadow;
  
  &:hover {
      color: $headings-color;
      background-color: $gray-lighter;
      border: 0;
    } 
}

.value-set-list {
  @extend .list-group;
  margin-bottom: 8px;
  background-color: $list-group-bg;
}

.value-set-item-header {
  @extend .list-group-item;
  font-weight: bold;
  padding: 2px 8px;
  background-color: $gray-lighter;
}

.value-set-item-oid {
  @extend .list-group-item;
  padding: 2px 8px;
  margin-bottom: 8px;
  background-color: $list-group-bg;
}
