// Layout
$bkgColor: #fafafa;
$containerBkgColor: #fff;
$borderColor: #aaa;
$fontFamily: "Helvetica Neue", Helvetica, Arial;
$fontSize: .9em;
$fontWeight: 300;

// Account
$accountBkgColor: #fafafa;
$inputBkgColor: #fafafa;

// Buttons
$btnFontSize: 80%;
$btnColor: #539309;
$dltColor: red;
$btnBkgColor: #fff;
$btnBorderColor: #539309;
$btnHoverBkg: #a7c98a  + #444;
$dltHoverBkg: red + #999;
$mailing_listColor: #363;

// Cypress
$failColor: red;
$passColor: green;
$incompleteColor: #aaa;
$resultColor: #CCC;

$errorMsgColor: #f50000;