// Layout
$bkgColor: #fafafa;
$borderColor: #aaa;

$containerBkgColor: #fff;

$inputBkgColor: #fafafa;

// Buttons
$btnFontSize: 80%;
$btnColor: #539309;
$btnBkgColor: #fff;
$btnBorderColor: #539309;
$btnHoverBkg: #a7c98a  + #444;

$errorMsgColor: #f50000;

$accountBkgColor: #fafafa;

// Cypress
$failColor: red;
$passColor: green;
$incompleteColor: #aaa;