// Layout
$bkgColor: #fafafa;
$containerBkgColor: #fff;
$borderColor: #aaa;
$fontFamily: "Helvetica Neue", Helvetica, Arial;
$fontSize: 1em;
$fontWeight: 300;
$main_padding-left: 15px;

// Account
$accountBkgColor: #fafafa;
$inputBkgColor: #fafafa;

// Buttons
$btnFontSize: 90%;
$btnColor: #539309;
$dltColor: red;
$btnBkgColor: #fff;
$btnBorderColor: #539309;
$btnHoverBkg: #a7c98a  + #444;
$dltHoverBkg: red + #999;
$mailing_listColor: #363;

// Cypress
$failColor: red;
$passColor: green;
$incompleteColor: #aaa;
$resultColor: #CCC;

// Measures
$radius: 7px;
$eligibleHdr: #54b4bd;
$outcomeHdr: #9dc84b;
$measureBorderColor: #e9e9e9;
$barValueColor: #333333;
$barValueText: #eeeeee;
$barValueBkg: #dddddd;
$borderColor: #cccccc;
$eligibilityParamGroup: #a4d9dd;
$outcomeParamGroup: #cfe1a5;

$errorMsgColor: #f50000;