
$xml-orange:            lighten($brand-warning, 10%) !default;
$xml-light-orange:      lighten($xml-orange, 15%) !default;
$xml-dark-orange:       darken($xml-orange, 10%) !default;
$xml-red:               lighten($brand-danger, 15%) !default;
$xml-light-red:         lighten($xml-red, 15%) !default;
$xml-green:             $brand-success !default;
$xml-gray:              $gray !default;

.xml-frame {
  .indent {
    margin-left: 1em;
  }

  .comment {
    color: $xml-gray;
  }

  .text {
    color: $brand-primary;
  }

  .pi {
    color: $xml-green;
  }

  .attribute-name {
    color: $xml-orange;
  }

  .attribute-value {
    color: $xml-red;
  }

  .navbar {
    li, .nav-link {
      display: inline;
      vertical-align: -webkit-baseline-middle;
    }

    .nav-link:hover {
      background: $gray-lighter;
      cursor: pointer;
    }
  }

  .navbar-fixed-top {
    height: 3em;
    background: $body-bg;
    border-bottom: 1px solid $panel-default-border;

    .container {
      padding-left: 3em;
    }
  }

  .attribute_error {
    border: 2px dotted $xml-red;
    background-color: $xml-light-red;
    padding: 10px;
  }

  .error {
    border: 2px dotted $xml-orange;
    background-color: $xml-light-orange;
    padding: 10px;
  }

  .error-popup-btn {
    padding: 0;
    background-color: $xml-dark-orange;

    i.fa-comment {
      background-color: $xml-orange;
      border: 5px solid $xml-orange;
      margin-top: -4px;
    }
  }

  .popover {
    width: 300px;
  }
}
