
$xml-orange:            #F4A460 !default;
$xml-light-orange:      lighten($xml-orange, 25%) !default;
$xml-dark-orange:       darken($xml-orange, 25%) !default;
$xml-red:               #FF6347 !default;
$xml-light-red:         lighten($xml-red, 25%) !default;
$xml-green:             green !default;
$xml-gray:              lighten($gray-base, 60%) !default;

.xml-frame {
  
    .indent {
    margin-left: 1em;
  }

  .markup {
    /*color: #00008b;*/
  }

  .comment {
    color: $xml-gray;
  }

  .text {
    color: $brand-primary;
  }

  .start-tag, .end-tag {
    /*color: $brand-info;*/
  }

  .pi {
    /*color: #9932CC;*/
    color: $xml-green;
  }

  .attribute-name {
    color: $xml-orange;
  }

  .attribute-value {
    color: $xml-red;
  }

  .navbar {
    li, .nav-link {
      display: inline;
      vertical-align: -webkit-baseline-middle;
    }
    
    .nav-link:hover {
      background: $gray-lighter;
      cursor: pointer;
    }
  }

  .navbar-fixed-top {
    height: 3em;
    background: $body-bg;
    border-bottom: 1px solid $panel-default-border;

    .container {
      padding-left: 3em;
    }
  }

  .attribute_error {  
    border: 2px dotted $xml-red;
    /*background-color: #FF5F3;*/
    background-color: $xml-light-red;
    padding: 10px;
  }

  .error {
    border: 2px dotted $xml-orange;
    background-color: $xml-light-orange;
    padding: 10px;
  }

  .error-popup-btn {
    padding: 0;
    background-color: $xml-dark-orange;
    
    i.fa-comment {
      background-color: $xml-orange;
      border: 5px solid $xml-orange;
      margin-top:-4px;
    }
  }

  .popover {
    width: 300px;
  }
}
