
$xml-orange:            #F4A460 !default;
$xml-light-orange:      lighten($xml-orange, 25%) !default;
$xml-dark-orange:       darken($xml-orange, 25%) !default;
$xml-red:               #FF6347 !default;
$xml-light-red:         lighten($xml-red, 25%) !default;
$xml-green:             green !default;
$xml-gray:              lighten($gray-base, 60%) !default;
