<h1 class="text-primary">Page Not Found</h1>
<p class="text-center text-info">
  <strong>
    <%= icon('fas fa-3x', 'question-circle', :"aria-hidden" => true) %>
  </strong>
</p>
<p class="lead">We're sorry but Cypress can't find this page. You might have followed a bad link or mis-typed a URL.</p>

<%= render 'layouts/error_links' %>
