<h1 class="text-danger">Server Error</h1>
<p class="text-center text-danger">
  <strong>
    <i class="fa fa-fw fa-3x fa-exclamation-triangle" aria-hidden="true"></i>
  </strong>
</p>
<p class="lead">We're sorry but Cypress can't find this page. You might have followed a bad link or mis-typed a URL.</p>

<%= render 'layouts/error_links' %>
