<h1 class="text-danger">Server Error</h1>
<p class="text-center text-danger">
  <strong>
    <%= icon('fas fa-3x', 'exclamation-circle', :"aria-hidden" => true) %>
  </strong>
</p>
<p class="lead">Something went wrong with this request. This is likely a problem with Cypress rather than a mistake on your part.</p>

<%= render 'layouts/error_links' %>
