<div id="login_dialog">
  <div id="cap-top"></div>
  <div id="cap-body">
    <div id="branding">
      <%= image_tag("/assets/cypress_big_logo.png", :id => 'imgLogo', :title => 'Cypress sure is sorry...', :alt => 'cypress logo') %>
    </div>
    <div class="panel">
      <h1 class="error">Oops! Sorry about this...</h1>
      <p>
        We ran into an error and weren't able to handle your request. If the problem persists, please send an e-mail to 
        cypress-dev-list@lists.mitre.org and describe what steps led to the issue so we can help resolve it.
      </p>
      <p class="align-right">
        Thank you very much,<br />
        The Cypress Team
      </p>
    </div>
  </div>
  <div id="cap-bottom"></div>
</div>