<div id="login_dialog">
  <div id="cap-top"></div>
  <div id="cap-body">
    <div id="branding">
      <%= image_tag("/assets/cypress_big_logo.png", :id => 'imgLogo', :title => 'Cypress sure is sorry...', :alt => 'cypress logo') %>
    </div>
    <div class="panel">
      <h1 class="error">Oops! Now where were we...</h1>
      <p>
        We ran into an error looking for the page you requested. If you ended up here by clicking a Cypress link please send an e-mail
        to cypress-dev-list@lists.mitre.org and we will fix it as soon as possible.
      </p>
      <p class="align-right">
        Thank you very much,<br />
        The Cypress Team
      </p>
    </div>
  </div>
  <div id="cap-bottom"></div>
</div>