<%

# local variable 'product'

%>

<% product_status_values = get_product_status_values(product) %>
<tr>
  <th scope="row" class="product-name">
    <div class = "abbreviated-multiline">
      <%= link_to product.name, vendor_product_path(@vendor, product) %>
  </div>
  </th>

  <% ['C1', 'C2', 'C3', 'C4'].each do |cert_type| %>
    <% if product_status_values.has_key?(cert_type) %>
      <% cert_hash = product_status_values[cert_type].select { |test_key, test_val| test_val.is_a?(Hash) && test_val.key?('display_name') } %>
      <td class='product-status'>
        <%= render partial: 'certification_status', locals: { cert_type: cert_type, cert_hash: cert_hash } %>
      </td>
    <% else %>
      <td></td>
    <% end %>
  <% end %>
</tr>
