<% if flash[:notice] %>

  <div class = "alert-<%= flash[:notice_type] || 'info' %>" >
    <%= flash[:notice] %>
    <a href = "#" class = "close" data-dismiss = "alert" aria-label = "close">&times;</a>
  </div>

<% end %>

<% unless @vendor.errors.empty? %>
  <% @vendor.errors.full_messages do |msg| %>
    <div class = "alert-danger">
      <%= msg %>
      <a href = "#" class = "close" data-dismiss = "alert" aria-label = "close">&times;</a>
    </div>
  <% end %>
<% end %>
