<div class="vendors edit_vendor_page">


  <%= render partial: 'remove_modal' %>

  <%= render partial: 'remove_button', locals: {
        button_text: 'Remove Vendor',
        button_classes: 'btn btn-danger pull-right',
        object: @vendor,
        object_path: vendor_path(@vendor),
        modal_message: 'Removing a vendor will also delete all associated products, product tests, and test results.'
  } %>

  <%= render :partial => 'vendor_form', locals: {submit_text: 'Submit Changes'} %>

</div>
