<div id="container" class="container">
  <%= render :partial=>"shared/header" %>
  
  <div class="buffered">
    <section class="tb">
      <nav class="breadcrumb">
        <a href="<%= vendors_path %>">Certification Dashboard</a> &raquo;
        <span>Edit <%= @vendor.name %></span>
      </nav>
    </section>
    
    <section id="vendor" class="bordered buffered">
      <%= render :partial => 'vendor_details' %>
    </section>
  </div>
</div>

