<div class="vendors edit_vendor_page col-sm-12">

  <%= render :partial => 'alerts', locals: { object: @vendor } %>

  <%= render :partial => "remove_modal", locals: {
      warning_message: "Removing a vendor will also delete all associated products, tests, and points of contact.",
      object: @vendor,
      object_name: @vendor.name,
      object_type: "vendor"
  } %>

  <%= render :partial => 'vendor_form', locals: {submit_text: 'Submit Changes'} %>

</div>
