	<div id="container">
	<header>
		<h1>cypress</h1>
		<nav>
			<a href="account.html">account</a>
			<a href="about.html">about</a>
			<a href="feedback.html">feedback</a>
			<a href="help.html">help</a>
			<a href="logout.html">logout</a>
		</nav>
	</header>
	<div>
		<nav class="breadcrumb">
			<a href="home.html">Home</a> &raquo;
			<span>Certification Test Bed</span>
		</nav>
		<section class="ctb_records">
			<form>
			<dl class="wide">
				<dt>Total # of Records:</dt> <dd><select><option>1,000</option></select>
				<dt>Error Threshold:</dt> <dd><input type="text" size="2"><span>%</span>
			</dl>
			<dl>
				<dt>Test Mode:</dt> <dd><select><option>Production</option></select>
				<dt>Record Type:</dt> <dd><select><option>C32/CCD</option></select>
			</dl>
			</form>
		</section>
		<section class="legend">
			<dl>
				<dt>Error Report Indicators:</dt>
				<dd class="pass">passing
				<dd class="na">insufficient info
				<dd class="q1">0-25% error
				<dd class="q2">25-50% error
				<dd class="q3">50-75% error
				<dd class="q4">75-100% error
			</dl>
		</section>
		<section id="ehr_results">
			<table>
				<thead>
					<tr>
						<th colspan="7" class="failing">Failing</th>
					</tr>
					<tr>
						<th></th>
						<th>EHR</th>
						<th>Tests</th>
						<th>Disputes</th>
						<th colspan="2">POC</th>
						<th>Proctor</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><div title="14%" class="q1">14%</div></td>
						<td><a href="vendor.html">Med-E Health</a></td>
						<td>17</td>
						<td>1</td>
						<td><a href="poc.html">Anna Ruiz</a></td>
						<td><span class="phone">(415) 329-8642</span></td>
						<td><a href="proctor.html">Gemma Watson</a></td>
					</tr>
					<tr>
						<td><div title="44%" class="q2">44%</div></td>
						<td><a href="vendor.html">MedioHealth Data</a></td>
						<td>14</td>
						<td>2</td>
						<td><a href="poc.html">David Evans</a></td>
						<td><span class="phone">(312) 506-1200 x534</span></td>
						<td><a href="proctor.html">Paul Hewson</a></td>
					</tr>
					<tr>
						<td><div title="Insufficient info" class="na">n/a</div></td>
						<td><a href="vendor.html">Aliquam Systems</a></td>
						<td>23</td>
						<td>6</td>
						<td><a href="poc.html">Estafana Fuller</a></td>
						<td><span class="phone">(206) 740-0952</span></td>
						<td><a href="proctor.html">Paul Hewson</a></td>
					</tr>
					<tr>
						<td><div title="Insufficient info" class="na">n/a</div></td>
						<td><a href="vendor.html">Libero Data Systems</a></td>
						<td>12</td>
						<td>1</td>
						<td><a href="poc.html">William Lee</a></td>
						<td><span class="phone">(415) 339-8652</span></td>
						<td><a href="proctor.html">Gemma Watson</a></td>
					</tr>
				</tbody>

				<thead>
					<tr><th colspan="7" class="passing">Passing</th></tr>
					<tr>
						<th></th>
						<th>EHR</th>
						<th>Tests</th>
						<th>Disputes</th>
						<th colspan="2">POC</th>
						<th>Proctor</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><div title="94%" class="pass">94%</div></td>
						<td><a href="vendor.html">Metus Clinic Works</a></td>
						<td>44</td>
						<td>4</td>
						<td><a href="poc.html">Cecilia Griffin</a></td>
						<td><span class="phone">(949) 703-1200</span></td>
						<td><a href="proctor.html">Gemma Watson</a></td>
					</tr>
					<tr>
						<td><div title="98%" class="pass">98%</div></td>
						<td><a href="vendor.html">Erat Records</a></td>
						<td>9</td>
						<td>0</td>
						<td><a href="poc.html">Edouard North</a></td>
						<td><span class="phone">(973) 901-1114</span></td>
						<td><a href="proctor.html">Gemma Watson</a></td>
					</tr>
					<tr>
						<td><div title="98%" class="pass">98%</div></td>
						<td><a href="vendor.html">Tellus Data</a></td>
						<td>32</td>
						<td>3</td>
						<td><a href="poc.html">Jesse McCaskill</a></td>
						<td><span class="phone">(312) 506-2450</span></td>
						<td><a href="proctor.html">Paul Hewson</a></td>
					</tr>
					<tr>
						<td><div title="98%" class="pass">98%</div></td>
						<td><a href="vendor.html">Massa Care</a></td>
						<td>27</td>
						<td>2</td>
						<td><a href="poc.html">Robert Walsh</a></td>
						<td><span class="phone">(775) 856-1717 x102</span></td>
						<td><a href="proctor.html">Gemma Watson</a></td>
					</tr>
					<tr>
						<td><div title="98%" class="pass">98%</div></td>
						<td><a href="vendor.html">Sodales EHR</a></td>
						<td>17</td>
						<td>1</td>
						<td><a href="poc.html">Sean Rasmussen</a></td>
						<td><span class="phone">(715) 781-1200</span></td>
						<td><a href="proctor.html">Paul Hewson</a></td>
					</tr>
					<tr>
						<td><div title="98%" class="pass">98%</div></td>
						<td><a href="vendor.html">Lorem Data</a></td>
						<td>13</td>
						<td>3</td>
						<td><a href="poc.html">John Glasgow</a></td>
						<td><span class="phone">(267) 761-8233</span></td>
						<td><a href="proctor.html">Paul Hewson</a></td>
					</tr>
					<tr>
						<td><div title="98%" class="pass">98%</div></td>
						<td><a href="vendor.html">Eee Aitch Are</a></td>
						<td>19</td>
						<td>2</td>
						<td><a href="poc.html">Candace Martinelli</a></td>
						<td><span class="phone">(630) 905-5870</span></td>
						<td><a href="proctor.html">Paul Hewson</a></td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
	</div><!-- end #container -->			