<div id="container" class="container">
  <%= render :partial=>"shared/header" %>

  <div class="buffered">
    <section class="tb">
      <nav class="breadcrumb">
        <a href="<%= vendors_path %>">Certification Dashboard</a> &raquo;
        <span>Create new vendor</span>
      </nav>
    </section>

    <section class=" bordered buffered"id="vendor">
      <%= render :partial => 'vendor_details'%>
    </section>
  </div>
</div>