<%= render partial: 'header_vendor', locals: { vendor: @vendor } %>

<% if @vendor.products.empty? %>
  <p class="lead">
    Start EHR Certification with
    <%= button_to new_vendor_product_path(@vendor), :method => :get, :class => "btn btn-primary btn-lg" do %>
      <i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add Product
    <% end %>
  </p>
<% else %>
  <div class = 'row product-table-header'>
    <div class = 'col-sm-2'><h1 class = 'inline'>Products</h1></div>
    <div class = 'col-sm-8'>
      <div class = 'col-sm-3 text-center'><strong>C1</strong></div>
      <div class = 'col-sm-3 text-center'><strong>C2</strong></div>
      <div class = 'col-sm-3 text-center'><strong>C3</strong></div>
      <div class = 'col-sm-3 text-center'><strong>C4</strong></div>
    </div>
    <div class = 'col-sm-2'></div>
  </div>
  <% @products.each do |product| %>
    <%= render partial: 'products_table_row', locals: { product: product } %>
  <% end %>
<% end %>
