<%= render partial: 'header_vendor', locals: { vendor: @vendor } %>

<% if @vendor.products.empty? %>
  <p class="lead">
    Start EHR Certification with
    <%= button_to new_vendor_product_path(@vendor), :method => :get, :class => "btn btn-primary btn-lg" do %>
      <i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add Product
    <% end %>
  </p>
<% else %>
  <h1><%= @products.count %> Products</h1>
  <div class="vendor-product-status">
    <% @products.each do |product| %>
      <%= render partial: 'product_status_table', locals: { show_product_link: true, product: product } %>
    <% end %>
  </div>
<% end %>
