<section class="qrdaValidation">
    <table class="table">
      <%#= render partial: "test_executions/qrda_product_test/qrda_errors", locals: {errors:test_execution.execution_errors}%>
    </table>
</section>

   <section id="quality_measures">
    Passing
      <%= render partial: "/test_executions/calculated_product_test/results.html" , locals: {test_execution: test_execution, measures: test_execution.passing_measures} %>
    Failing
      <%= render partial: "/test_executions/calculated_product_test/results.html" , locals: {test_execution: test_execution, measures: test_execution.failing_measures} %>
   </section>