<section class="qrdaValidation">
    <table class="table">
      <%#= render partial: "test_executions/qrda_product_test/qrda_errors", locals: {errors:test_execution.execution_errors}%>
    </table>
</section>

   <section id="quality_measures">
    <h5><span class="pass">PASSING</span> MEASURES</h5>
    <% if test_execution.passing_measures.count == 0 %>
      <p>There are no passing measures for this test</p>
    <% else %>
      <%= render partial: "/test_executions/calculated_product_test/results.html" , locals: {test_execution: test_execution, measures: test_execution.passing_measures} %>
    <% end %>
    <h5><span class='fail'>FAILING</span> MEASURES</h5>
    <% if test_execution.failing_measures.count == 0 %>
      <p>There are no failing measures for this test</p>
    <% else %>
      <%= render partial: "/test_executions/calculated_product_test/results.html" , locals: {test_execution: test_execution, measures: test_execution.failing_measures} %>
    <% end %>
   </section>