<h5>Other Fields:</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#admissionSource}}
    <tr>
      <td>Admission Source</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/admissionSource}}
    {{#anatomicalApproachSite}}
    <tr>
      <td>Anatomical Approach Site</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/anatomicalApproachSite}}
    {{#anatomicalLocationSite}}
    <tr>
      <td>Anatomical Location Site</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/anatomicalLocationSite}}
    {{#components}}
      {{#code}}
      <tr>
        <td>Component Code</td>
        <td>{{{code_code_system_string}}}</td>
      </tr>
      {{/code}}
      {{#result}}
      <tr>
        <td>Component Result</td>
        <td>{{{code_code_system_string}}}</td>
      </tr>
      {{/result}}
    {{/components}}
    {{#diagnoses}}
    <tr>
      <td>Diagnosis</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/diagnoses}}
    {{#dischargeDisposition}}
      <tr>
        <td>Discharge Disposition</td>
        <td>{{{code_code_system_string}}}</td>
      </tr>
    {{/dischargeDisposition}}
    {{#facilityLocation}}
    <tr>
      <td>Facility Location</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/facilityLocation}}
    {{#facilityLocations}}
    <tr>
      <td>Facility</td>
      <td>{{{facility_string}}}</td>
    </tr>
    {{/facilityLocations}}
    {{#frequency}}
    <tr>
      <td>Frequency</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/frequency}}
    {{#lengthOfStay}}
      <tr>
        <td>Length Of Stay</td>
        <td>{{{unit_string}}}</td>
      </tr>
    {{/lengthOfStay}}
    {{#negationRationale}}
    <tr>
      <td>Negation Reason</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/negationRationale}}
    {{#ordinality}}
    <tr>
      <td>Ordinality</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/ordinality}}
    {{#principalDiagnosis}}
    <tr>
      <td>Principal Diagnosis</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/principalDiagnosis}}
    {{#reason}}
    <tr>
      <td>Reason</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/reason}}
    {{#result}}
    <tr>
      <td>Result</td>
      <td>{{{result_string}}}</td>
    </tr>
    {{/result}}
    {{#route}}
    <tr>
      <td>Route</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/route}}
    {{#severity}}
    <tr>
      <td>Severity</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/severity}}
    {{#status}}
    <tr>
      <td>Status</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/status}}
    {{#type}}
    <tr>
      <td>Type</td>
      <td>{{{code_code_system_string}}}</td>
    </tr>
    {{/type}}
  </tbody>
</table>