<h5>Codes:</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code System</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
    {{#dataElementCodes}}
    <tr>
      <td>{{codeSystem}}</td>
      <td>{{code}}</td>
    </tr>
    {{/dataElementCodes}}
  </tbody>
</table>