{{#data_element}}
<div class="entry">
  {{#description}}
  <h2>{{description}}</h2>
  {{/description}}
  {{> _data_element_times}}
  {{> _data_element_codes}}
  {{> _data_element_other_fields}}
</div>
{{/data_element}}
