<div id = 'display_checklist_measures' >

<div id='save_options'>
  <% unless product_test.status != 'passing' %>
    <%= render 'alert', :alert_type => 'warning', :messages => 'Saving this checklist will override previous results.', :confirmation => 'Yes, let me save this checklist' %>
  <% end %>
</div>
  <%= render 'checklist_measure', :product => product_test.product, :product_test => product_test, :measures => measures %>
</div>
