.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2em;
  font-weight: 300;
  // padding: 0 0.5em;
  height: inherit;

  img {
    display: inline-block;
    height: 1.25em;
  }
}

.navbar-nav li .navbar-item {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
