.parsley-success {
  color: $success-text-emphasis;
  border: 1px solid $success-border-subtle;
}

.parsley-error {
  color: $danger-text-emphasis;
  background-color: $danger-bg-subtle;
  border: 1px solid $danger-border-subtle;
}

.parsley-errors-list {
  color: $danger-text-emphasis;
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: .9em;
  line-height: .9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;

  &.filled {
    opacity: 1;
    padding: 1em 0;

    &::before {
      font-family: FontAwesome;
      content: $fa-var-wrench;
    }

    li {
      display: inline-block;
      padding: 0 .5em;
    }
  }
}
