// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 1.5em;
}

section {
  margin: 3em 0;
}

th, td {
  &.test_result {
    text-align: center;
  }
}

td:nth-last-child(-n+5) {
  width: 8em;
}


td img {
  height: 1.3em;
  @include center-block()
}
