.btn-danger-simple {
  @include button-variant($btn-danger-border,$btn-danger-color,$btn-danger-color);
}

.breadcrumb li:last-of-type {
  color: $breadcrumb-active-color;
}

.table > tbody > tr > td {
  vertical-align: middle;
  background-color: white;
}

.table > thead > tr {
  & > td, & > th {
    background-color: $gray-lighter;
    font-weight: bold;
  }
}
