/*
 *= require jquery-ui/core
 *= require jquery-ui/accordion
 *= require jquery-ui/autocomplete
 *= require jquery-ui/button
 *= require jquery-ui/datepicker
 *= require jquery-ui/dialog
 *= require jquery-ui/menu
 *= require jquery-ui/progressbar
 *= require jquery-ui/selectmenu
 *= require jquery-ui/slider
 *= require jquery-ui/spinner
 *= require jquery-ui/tabs
 *= require jquery-ui/tooltip
 *= require rails_bootstrap_forms
 *= require jasny-bootstrap.min
 *= require dataTables/jquery.dataTables
*/

@import 'globals';
@import './assets_framework/custom-mixins';
@import './assets_framework/breadcrumb';
//@import './assets_framework/widgets/_alerts';
//@import './parsley';
@import './revamped/**/*';
