/* IE8 specific fixes */
* + html section.candidate dl {display:table-cell;float:left;width:300px}
* + html section.candidate dd { display:inline; }  
* + html section.candidate dt { display:inline; }  
* + html section.legend dd { display:inline; }  
* + html section.legend dt { display:inline; }  
* + html section.records dl {display:table-cell;float:left;width:300px}
* + html section.records dd { display:inline; }  
* + html section.records dt { display:inline; }  
section#patient_nqf table {margin-left:-15px;}
section.patient {margin-left:15px}