.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2em;
  font-weight: 300;
  height: inherit;
  padding-left: 0;

  img {
    display: inline-block;
    height: 1.25em;
  }
}

.navbar-nav {
  margin-right: -15px;
}

.navbar-nav li .navbar-item {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
