input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: $state-success-text;
  // background-color: $state-success-bg;
  border: 1px solid $state-success-border;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: $state-danger-text;
  background-color: $state-danger-bg;
  border: 1px solid $state-danger-border;
}

.parsley-errors-list {
  color: $state-danger-text;
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
