<section id="wizard-measures-screen" class="step bordered buffered">
  <h5 class="ui-widget-title">Identify <strong>at least one</strong> quality measure to test from the list of available measures for this product...</h5>
  <div id="measures" style="overflow:hidden;"></div>
</section>
