<% content_for :head do %>
  <style type="text/css">
    #wizard-patients-manual-screen td,
    #wizard-patients-manual-screen th {
      text-align: left;
    }
    .busy {
      text-align:center;
      vertical-align:middle;
      padding:40px;
      font-size:30px;
      color:silver;
    }
  </style>
<% end %>

<section id="wizard-patients-automated-screen" class="step submit_step bordered buffered">
  <h5 class="ui-widget-title">Select patient records to use...</h5>
  <section>
    Cypress has two predefined patient populations to choose from - the full 225 or a subset of 20
    designed to test the core and core alternate Stage 1 Clinical Quality Measures.  In addition,
    any populations that you have previously defined will be available for reuse.<br/><br/>
    <dl>
      <dt>
        Population:
      </dt>
      <dd>
        <%= f.collection_select(:patient_population, @patient_populations, :name, :description, {:selected => 'all'}) %>
      </dd>
      <dt>Download as:</dt>
      <dd>
        <span class="wide">
          <input type="radio" name="download_format" id="c32" value="c32" checked/>
          <label for="c32">HITSP C32</label>
          <input type="radio" name="download_format" id="ccr" value="ccr"/>
          <label for="ccr">ASTM CCR</label>
          <input type="radio" name="download_format" id="html" value="html"/>
          <label for="html">HTML</label>
        </span>
      </dd>
      <dt>
        Patient test mode:
      </dt>
      <dd>
        <select>
          <option>name randomization</option>
        </select>
      </dd>
    </dl>
  </section>
</section>

<section id="wizard-patients-manual-screen" class="step submit_step">
  <h2 class="ui-widget-title">Patient records to use for testing your chosen quality measures...</h2>
  <section id="save_population">
    <p>If you would like to save this patient population
      for use in other tests, please give it a name and a brief description</p>
    <dl>
      <dt>Name:</dt>
      <dd><input type="text" name="population_name"/></dd>
      <dt>Description:</dt>
      <dd><input type="text" name="population_description" size="80"/></dd>
    </dl>
  </section>
  <div id="measure_coverage" style="overflow:hidden;">
  </div>
</section>
