<% content_for :head do %>
<% end %>
<section id="wizard-workflow-screen" class="step">
  <h2>Please select a workflow option...</h2>
  <p>
    <input type="radio" id="wf2" class="link" name="workflow" value="wizard-patients-automated-screen"/>
    <label for="wf2">The patient data will be <em>imported</em> by the EHR</label>
  </p>
  <p class="description">
    Cypress will export the Test Deck patient records in HITSP C32 or ASTM CCR XML format so that you can
    import them with your EHR software product or module.  Select this option if the software you'll be testing
    supports an automated import of patient data.
  </p>
  <p>
    <input type="radio" id="wf1" class="link" name="workflow" value="wizard-patients-manual-screen"/>
    <label for="wf1">The patient data will be entered <em>by hand</em></label>
  </p>
  <p class="description">
    Cypress will export the Test Deck patient records in HTML format so that you can reference them
    when doing the data entry to an EHR software product or module.  Select this option if someone
    on your team will need to enter the data manually.
  </p>
</section>

