<% content_for :head do %>
  <style type="text/css">
    p.workflow {
      border:1px solid #539309;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border-radius:5px;
      color:#539309;
      cursor:pointer;
      font-size:110%;
      text-align:center;
      width: 80%;
      margin-left:10%;
    }
    p.selectedWorkflow {
      font-weight:bold;
      background:#DEFADE;
      border:1px solid green;
    }
    #wizard-workflow-screen label {
      padding: 2em;
    }
    
    .wf1_container, .wf2_container, .wf3_container {
      position:relative;
    }
    
  </style>

  <script type="text/javascript">

    $(document).ready(function() {
      // for choosing the workflow option
      $('label').hover(function(){$(this).parent().addClass('highlight')},
      function(){$(this).parent().removeClass('highlight')}
    ).click(function(){
        var self = this;
        $.each(['wf1','wf2','wf3'], function(i,e) {
          $('.'+e+'_container').removeClass('selectedWorkflow');
        });
        $(this).parent().addClass('selectedWorkflow');
      });

      // for determining the download filename
      $('#wf2').click(function(){
        $('#html,label[for="html"]').hide();
        $('#c32').attr('checked',true);
        $('#c32,#ccr,label[for="c32"],label[for="ccr"]').show();
      });
      $('#wf1').click(function(){
        $('#c32,#ccr,label[for="c32"],label[for="ccr"]').hide();
        $('#html').attr('checked',true);
        $('#html,label[for="html"]').show();
      });
      $('#product_test_patient_population,input[name=download_format]').change(function(){
        updateDownloadFilename();
      });
      // set the default choice by invoking a click on workflow 2
      $('label[for=wf2]').trigger("click");

    });

  </script>

<% end %>
<section id="wizard-workflow-screen" class="step">
  <h2 style="margin-top: 20px;">Please select a workflow option...</h2>
  <section>
    <p class="wf2_container workflow">
      <input type="radio" id="wf2" name="workflow" class="link" value="wizard-patients-automated-screen" style="display:none;"/>
      <label for="wf2"><em>C32/CCR Export</em><br/>
        The Cypress Test Deck will be exported in HITSP C32 or ASTM CCR XML format and imported into an EHR software product or module.
      </label>
    </p>
    <br/>
    <p class="wf1_container workflow">
      <input type="radio" id="wf1" name="workflow" class="link" value="wizard-patients-manual-screen" style="display:none;"/>
      <label for="wf1"><em>HTML Export</em><br/>
        The Cypress Test Deck will be exported in HTML format and input into an EHR software product or module.
      </label>
    </p>
    <br/>
    <p class="wf3_container workflow">
      <input type="radio" id="wf3" name="workflow" class="link" value="wizard-patients-byod-screen" style="display:none;"/>
      <label for="wf3"><em>C32/CCR Upload</em><br/>
        Exported HITSP C32 or ASTM CCR XML formatted patient records will be uploaded to Cypress in lieu of the Test Deck for this test.
      </label>
    </p>
  </section>
</section>

