<%

# local variables
#
#   task (C1ManualTask)

%>

<% execution = task.most_recent_execution %>
<% c3_execution = execution ? execution.sibling_execution : nil %>
<% should_include_c3 = task.product_test.product.c3_test %>

<table class = 'table table-hover table-condensed'>
  <thead>
    <th class = 'no-wrap' scope = 'col'>
      Upload Results
    </th>
    <th class = 'no-wrap' scope = 'col'>C1 Upload Results</th>
    <% if should_include_c3 %>
      <th class = 'no-wrap' scope = 'col'>C3 Upload Results</th>
    <% end %>
    <th class = 'no-wrap' scope = 'col'>Status</th>
  </thead>
  <tbody>
    <tr>
      <% unless execution.nil? %>
        <td><%= link_to 'View Results', new_task_test_execution_path(execution.task) %></td>
      <% else %>
        <td></td>
      <% end %>
      <% # for both c1 and c3 executions (if they exist) %>
      <% [execution, c3_execution].each do |exec| %>
        <td><%= render partial: 'execution_status_message', locals: { execution: exec } %></td>
      <% end %>
      <td>
        <% unless execution.nil? %>
          <% case execution.status_with_sibling %>
          <% when 'passing' %>
            <i aria-hidden = 'true' class = 'fa fa-fw fa-check text-success'></i>
            <strong class = 'text-success'>Passing</strong>
          <% when 'failing' %>
            <i aria-hidden = 'true' class = 'fa fa-fw fa-times text-danger'></i>
            <strong class = 'text-danger'>Failing</strong>
          <% when 'errored' %>
            <i aria-hidden = 'true' class = 'fa fa-fw fa-exclamation text-warning'></i>
            <strong class = 'text-warning'>Errored</strong>
          <% else %>
            <i aria-hidden = 'true' class = 'fa fa-fw fa-circle-o text-info'></i>
            <strong class = 'text-info'>In Progress</strong>
          <% end %>
        <% else %>
          <i aria-hidden = 'true' class = 'fa fa-fw fa-circle-o text-info'></i>
          <span class = 'text-info'>Not Started</span>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<% if !execution.nil? && execution.executions_pending? %>
  <script>
    $.ajax({url: "<%= request.env['PATH_INFO'] %>", type: "GET", dataType: 'script', data: { partial: 'checklist_execution_results', task_id: "<%= task.id.to_s %>" }});
  </script>
<% end %>
