<%

# local variable 'product'

%>

<% checklist_test = product.product_tests.checklist_tests.first %>
<% return unless checklist_test %>

<% if checklist_test.tasks.any? && checklist_test.tasks[0].most_recent_execution && checklist_test.tasks[0].most_recent_execution.incomplete? %>
  <script>
    $.ajax({url: "<%= request.env['PATH_INFO'] %>", type: "GET", dataType: 'script', data: { partial: 'checklist_status_display' }});
  </script>
  <p class="lead row bg-info execution-status"><i class="fa fa-fw fa-refresh fa-spin text-info"></i> In Progress</p>
<% end %>

<table class = 'table table-hover table-condensed'>
  <thead>
    <th class="no-wrap" scope="col">Manual Entry Test</th>
    <th class="no-wrap" scope="col">Status</th>
  </thead>
  <tbody>
    <% checklist_test.measures.sort_by(&:cms_int).each do |measure| %>
      <tr>
        <td><%= link_to "#{measure.cms_id} #{measure.name}", product_checklist_test_path(@product, checklist_test, anchor: "#{measure.cms_id}") %></td>
        <td class="no-wrap">
          <% case checklist_test.measure_status(measure.id) %>
          <% when 'passed' %>
            <strong class = 'text-success'>Passing</strong>
          <% when 'failed' %>
            <strong class = 'text-danger'>Failing</strong>
          <% when 'not_started' %>
            <strong class = 'text-info'>Not Started</strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
