<footer role="contentinfo" class="footer">
  <div class="container">
    Learn more about <a href="http://projectcypress.org">Project Cypress</a>, an open source project sponsored by CMS and ONC.<br> Need help? <a href="http://projectcypress.org/documents/cypress_user_guide_prs_12_5071.pdf">Cypress User Guide</a>.
  </div>
</footer>
