<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">Instructions</h2>
  </div>
  <div class="panel-body">
    <ul>
      <% instructions.each do |instruction| %>
        <li><%= instruction %></li>
      <% end %>
    </ul>
  </div>
</div>