<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= image_tag('icon.svg') %> cypress</a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li>
        <a class="navbar-item" href="#">Patient List</a>
      </li>
      <li>
        <a class="navbar-item" href="#">Account</a>
      </li>
      <li>
        <a class="navbar-item" href="#">Help</a>
      </li>
      <li>
        <a class="navbar-item" href="#">About</a>
      </li>
      <li>
        <a class="navbar-item" href="#">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
