<div id = "remove_modal" class = "modal fade" role = "dialog">
  <div class = "modal-dialog">
    <div class = "modal-content">
      <div class = "modal-header">
        <button type = "button" class = "close" data-dismiss = "modal">&times;</button>
        <h4 class = "modal-title">Remove Permanently</h4>
      </div>
      <div class = "modal-body">
        <p class = "warning_message"></p>
        <p>
          Enter the <span class = "object_type"></span> name <strong class = "object_name"></strong> to delete <span class = "object_type"></span>.
        </p>
        <p>
          <label class = "hide" for = "modal_name_input">Remove Name</label>
          <input class = "confirm_object_name form-control" id = "modal_name_input" type = "text-field" />
        </p>
      </div>
      <div class = "modal-footer">
        <button type = "button" class = "btn btn-default" data-dismiss = "modal">Cancel</button>
        <button type = "button" class = "btn btn-danger" id = "modal_confirm_remove" disabled = true>Remove</button>
      </div>
    </div>
  </div>
</div>