
<%

# this partial should only be used if the 'action_modal' partial is also included
#
# local variables:
#
#   name        (String) : the text the user is required to type before deleting object
#                            ex. 'my_account@example.com' for an account
#   type        (String) : the type of object to be deleted. labels will use "Delete #{type}"
#   message     (String) : the waring message to give the user in the panel
#   delete_path (String) : object's path to call delete controller method on.
#                            ex. vendor_product_path(@product.vendor, @product)

%>

<div class = 'panel panel-danger'>
  <div class = 'panel-heading'>
    <h1 class='panel-title'><%= "Delete #{type}".titleize %></h1>
  </div>

  <div class = 'panel-body'>
    <p><%= message %></p>
    <%= render 'action_button',
                    :button_text => "Delete #{type}".titleize,
                    :button_classes => 'btn btn-danger',
                    :button_action => 'delete',
                    :object_name => name,
                    :object_type => type,
                    :action_path => delete_path,
                    :object_action => 'delete'
               %>
  </div>
</div>
