<%
# local variables:
#
#   a status ("passing", "failing", "not_started", "total")
#   status_hash: a hash where each key is a status ("passing", "failing", "not_started", "total")
%>

<% classes = status_to_css_classes(status.capitalize) %>

<td class="<%= classes['cell'] unless status_hash[status] == 0 %> text-center">
  <% if classes['icon'] %>
    <i aria-hidden="true" class="fa fa-fw <%= classes['icon'] %>"></i>
  <% end %>
  <%= status_hash[status] %>
  <span class="sr-only">
    <%= status.humanize(capitalize: false) %>
  </span>
</td>
