<%
#
# renders the bulk download button if all measure tests are set
#
# must specify local variable "product"
#
%>
<% total_filtering_tests = product.c4_test? ? 5 : 0 %>
<% num_measure_tests = product.product_tests.measure_tests.count + total_filtering_tests + product.product_tests.multi_measure_tests.count %>
<% num_measure_tests_ready = product.product_tests.measure_tests.where(state: :ready).count + product.product_tests.filtering_tests.where(state: :ready).count + product.product_tests.multi_measure_tests.where(state: :ready).count %>
<%= render 'bulk_download', :product => @product %>
<% if (num_measure_tests_ready != num_measure_tests) && !(product.product_tests.measure_tests.where(state: :errored).count.positive?) %>
  <div id="<%= "bulk_download_poller" %>"
      data-controller="turbo-stream-poller"
      data-turbo-stream-poller-url-value="<%= request.path %>"
      data-turbo-stream-poller-params-value="<%= { partial: "bulk_download" }.to_json %>"
      data-turbo-stream-poller-interval-value="2000"></div>
<% end %>
