<div id="display_measure_tests_table">
  <table class = 'table table-hover measure_tests_table'>
    <thead>
      <th scope = 'col' class = 'col-sm-1 no-wrap pointer-on-hover'>Test Name</th>
      <th scope = 'col' class = 'col-sm-4 pointer-on-hover'>Measures</th>
      <th scope = 'col' class = 'col-sm-1'>Quick Upload</th>
      <th scope = 'col' class = 'col-sm-1'>Last Updated</th>
    </thead>
    <%= render 'products/cvu_multi_display_body', :product => @product, :html_id => html_id, product_page_url: product_page_url %>
  </table>
</div>
