
<% frame_id = "product_#{html_id}_upload_frame" %>

<%= turbo_frame_tag frame_id, data: { action: "turbo:frame-load->filtering-test-status-display#refresh" } do %>

<div data-controller="filtering-test-status-display" data-url="<%= product_url %>" data-html="<%= html_id %>" data-reload="<%= reload %>"></div>

<% end %>