<%

# local variables
#
#   tasks (array of Task)

%>

<% return unless tasks.any? %>

<% product = tasks.first.product_test.product %>
<% first_results_col_label = tasks.first._type == 'C1Task' ? 'C1 Results' : 'C2 Results' %>
<% include_c3 = product.c3_test %>

<table class = 'table table-hover measure_tests_table'>
  <thead>
    <th scope = 'col' class = 'col-sm-1 no-wrap pointer-on-hover'>CMS ID</th>
    <th scope = 'col' class = 'col-sm-4 pointer-on-hover'>Measure Name</th>
    <th scope = 'col' class = 'col-sm-2 no-wrap pointer-on-hover'><%= first_results_col_label %></th>
    <% if include_c3 %>
      <th scope = 'col' class = 'col-sm-2 no-wrap pointer-on-hover'>C3 Results</th>
    <% end %>
    <th scope = 'col' class = 'col-sm-1'>Quick Upload</th>
    <th scope = 'col' class = 'col-sm-1'>Last Updated</th>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <tr id = '<%= measure_tests_table_row_wrapper_id(task) %>'>
        <%= render partial: 'measure_tests_table_row', locals: { task: task } %>
      </tr>
    <% end %>
  </tbody>
</table>
