

<% frame_id = "product_#{html_id}_upload_frame" %>
<%= turbo_frame_tag frame_id, data: { action: "turbo:frame-load->measure-tests-table#refresh" } do %>
  <% if reload %>
    <div id="<%= "#{html_id}measure_tests_table_poller" %>"
      data-controller="turbo-stream-poller"
      data-turbo-stream-poller-url-value="<%= product_url %>"
      data-turbo-stream-poller-params-value="<%= { partial: "measure_tests_table", html_id: html_id, get_c1_tasks: get_c1_tasks, reload: reload }.to_json %>"
      data-turbo-stream-poller-interval-value="15000"></div>
  <% end %>
<% end %>