<% submit_method = :post if action_name == "new"
submit_method = :put if action_name == "edit" %>

<%= form_for([@vendor, @product], :html => { :method => submit_method }) do |f| %>
  <h1>Product Information</h1>
  <section id="vendorInfo">
    <dl>
      <dt>Product Name:</dt>
      <dd><%= f.text_field :name, :size=>"20", :class=>"req" %></dd>
      <dt>Description:</dt>
      <dd><%= f.text_field :description, :size=>"20", :class=>"req" %></dd>
    </dl>
  </section> 
  
  <% submit_text = "Create Product" if action_name == "new"
  submit_text = "Save Product" if action_name == "edit" %>
  
  <a id="vendor_submit" class="cmd" onclick="$(this).parent().submit();"><%= submit_text %></a>
<% end %>

