<%

# local variable 'task'
# local variable 'test'

%>
<% if test.state != :ready %>
  <% if test.state == :queued %>
    <i class="fa fa-fw fa-play-circle text-info invisible" aria-hidden="true"></i> <span class="text-muted">queued</span>
  <% else test.state == :building %>
    <i class="fa fa-fw fa-refresh fa-spin" aria-hidden="true"></i> building
  <% end %>
<% elsif task.passing? %>
  <i class = 'fa fa-fw fa-check text-success' aria-hidden="true"></i>
  <%= link_to 'view', new_task_test_execution_path(task) %>
<% elsif task.failing? %>
  <i class = 'fa fa-fw fa-times text-danger' aria-hidden="true"></i>
  <%= link_to 'retry', new_task_test_execution_path(task) %>
<% else %>
  <i class = 'fa fa-fw fa-play-circle text-info invisible' aria-hidden="true"></i>
  <%= link_to 'start', new_task_test_execution_path(task) %>
<% end %>