<div class = "col-sm-12">

  <%= render :partial => 'alerts', locals: { object: @product } %>

  <h2>New Product</h2>

  <%= render :partial => 'product_form', locals: { submit_text: "Create Product" } %>

</div>