<%= render 'header_product', :product => @product %>
<div data-controller="product-table">
  <% if @product.cvuplus %>
    <%= render 'cvu_plus_product', :product => @product %>
  <% else %>
    <%= render 'certification_product', :product => @product %>
  <% end %>
</div>
