    <div id="container">
    <header>
        <h1>cypress</h1>
        <nav>
            <a href="account.html">account</a>
            <a href="http://projectcypress.org/">about</a>
            <a href="feedback.html">feedback</a>
            <a href="http://projectcypress.org/faq.html">help</a>
            <a href="logout.html">logout</a>
        </nav>
    </header>
    <div>
        <nav class="breadcrumb">
            <a href="home.html">Home</a> &raquo;
            <a href="ctb.html">Certification Test Bed</a> &raquo;
            <a href="vendor.html">Med-E Health</a> &raquo;
            <span>Cervical Cancer Screening</span>
        </nav>
        <section class="candidate">
            <dl>
                <dt class="vendor">Candidate EHR:</dt><dd class="vendor">Med-E Health</dd>
                <dt>url:</dt><dd><a href="http://www.medehealth.com">www.medehealth.com</a></dd>
                <dt>Tests:</dt><dd>14</dd>
                <dt>Disputes:</dt><dd>2</dd>
            </dl>
            <dl>
                <dt>EHR POC:</dt>   <dd>David Evans</dd>
                <dt>E-mail:</dt>    <dd>devans@medehealth.com</dd>
                <dt>Address:</dt>   <dd>
                                        <address>
                                            <span>222 Savoire Plaza</span>
                                            <span>Suite 1969</span>
                                            <span>Atlanta, GA 30346</span>
                                        </address>
                <dt>Phone:</dt>     <dd>(404) 123-1200
            </dl>
            <dl>
                <dt>Proctor:</dt>   <dd>Paul Hewson</dd>
                <dt>E-mail:</dt>    <dd>phewson@cchit.org</dd>
                <dt>Phone:</dt>     <dd>(708) 430-2500</dd>
            </dl>
            <a href="/vendors/next_vendor" class="advance">next candidate</a>
        </section>
        <section class="measure">
            <dl>
            <dt class="measure_title">Quality Measure:</dt>
                <dd class="measure_title">Cervical Cancer Screening
                <dd class="measure_desc">Women from 21-64 yrs old who received one or more pap tests.
            </dl>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Measure Status:</th>
                        <th colspan="2">Numerator</th>
                        <th colspan="2">Denominator</th>
                        <th colspan="2">Exclusions</th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                        <th>expect</th>
                        <th>report</th>
                        <th>expect</th>
                        <th>report</th>
                        <th>expect</th>
                        <th>report</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div title="28%" class="q1">28%</div></td>
                        <td class="fail">FAIL</td>
                        <td>234</td>
                        <td class="r q1">229</td>
                        <td>314</td>
                        <td class="r">314</td>
                        <td>34</td>
                        <td class="r">34</td>
                    </tr>
                </tbody>
            </table>
            <figure>
                <figcaption>Proctor Comments:</figcaption>
                <p>These are the comments made by the proctor evaluating the performance of this EHR vendor.</p>
            </figure>
            <figure>
                <figcaption>EHR POC Comments:</figcaption>
                <p>Bob morfil-llong yn mynd allan nifer dda o lythrennau ar gyfer 
                    amrywiol llongau, y mae eu cyflwyno i'r personau y gallant 
                    cael sylw, yn dibynnu ar y cyfle yn unig o wynebu ohonynt 
                    yn y pedair cefnforoedd. <!-- Felly, mae'r rhan fwyaf llythyrau byth yn cyrraedd eu nod; 
                    ac mae llawer yn cael eu derbyn dim ond ar ôl cyrraedd oedran o ddwy neu 
                    dair blynedd neu fwy. --></p>
            </figure>
            <a href="next_measure" class="advance">next measure</a>
        </section>
        <section class="records">
            <dl class="wide">
                <dt>Total # of Records:</dt> <dd>1,000
                <dt>Error Threshold:</dt> <dd>20%
            </dl>
            <dl>
                <dt>Test Mode:</dt> <dd>Production
                <dt>Record Type:</dt> <dd> C32/CCD
            </dl>
        </section>

        <section id="vendor_patients">
            <div id="patient_controls">
                <form>
                    <input type="radio" value="all" name="pop_results" id="all_expected"><label for="all_expected" class="selected">All Expected</label>
                    <input type="radio" value="false_neg" name="pop_results" id="false_negative"><label for="false_negative">False Negatives</label>
                    <input type="radio" value="false_pos" name="pop_results" id="false_positive"><label for="false_positive">False Positives</label>
                </form>
            </div>
            <div class="tabs">
            <a href="#" class="selected">Numerator</a> <a href="#">Denominator</a> <a href="#">Exclusions</a> <a href="#">Initial population</a> <a href="#">n/a</a>
            </div>
            <table id="patient_subset">
                <thead>
                    <tr>
                        <th></th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>DOB</th>
                        <th>Gender</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Amin</td>
                        <td>Mary</td>
                        <td>03/27/1988</td>
                        <td>f</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Aleef</td>
                        <td>Nicholas</td>
                        <td>07/01/1970</td>
                        <td>m</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Bolton</td>
                        <td>Sandra</td>
                        <td>10/12/1981</td>
                        <td>f</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Caprese</td>
                        <td>Maureen</td>
                        <td>12/25/19908</td>
                        <td>f</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Deff</td>
                        <td>Wendy</td>
                        <td>01/03/2003</td>
                        <td>f</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    </div><!-- end #container -->           