<div class="error-links">
  <%= link_to 'Go To Dashboard', vendors_path, class: 'btn btn-lg btn-primary',
    data: { turbo: false }
  %>
  <%= link_to 'Report bug', 'https://oncprojectracking.healthit.gov/support/secure/CreateIssue!default.jspa', class: 'btn btn-lg btn-default' %>
</div>
