<div class="error-links">
  <%= link_to 'Go To Dashboard', vendors_path, class: 'btn btn-lg btn-primary',
    data: {no_turbolink: true}
  %>
  <%= link_to 'Report bug', 'https://github.com/projectcypress/cypress/issues', class: 'btn btn-lg btn-default' %>
</div>
